html {
    height: 100%;
}

body,
#root {
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

.heatmap-canvas {
    position: relative !important;
}

a {
    text-decoration: none;
    color: inherit;
}
