<div class="red">
    {% if replay.name != 'None' %}
    <p>Name: {{ replay.name }}</p>
    {% endif %}
    <p>Match Date: {{ replay.match_date }}</p>
    <p>Upload Date: {{ replay.upload_date }}</p>
    <p>Map: {{ replay.map }}</p>
    <p>Score: <span style="color: blue">{{ replay.team0score }}</span> - <span
            style="color: orange">{{ replay.team1score }}</span></p>
    <p>Players:
        {% set columns = ['name', 'score', 'goals', 'assists', 'saves', 'shots'] %}
    <table class="table">
        <thead>
        <tr>
            {% for c in columns %}
            <th>{{ c|capitalize }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for p in replay.playergames|sort(attribute='score', reverse=True) %}
        {% set playerindex = loop.index0 %}
        <tr>
            {% for c in columns %}
            <td>{{ p[c] }}
                {% if c == 'name' %}
                <img src="{{ url_for('static', filename='img/ranks/' + ranks_dict[p.player]|string + '.png') }}"
                     height="30px">
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <sub>Warning: ranks in the past may be inaccurate</sub>
</div>
