{% set pie_charts = ['possession_time'] %}
{% set bar_charts = ['total_dribbles', 'total_passes', 'total_aerials', 'ball_hit_forward', 'ball_hit_backward', 'time_high_in_air', 'time_low_in_air', 'boost_usage', 'wasted_collection',] %}


{% set tabs = [
{
"header":   "Hits",
"location": "partials/replay/tabs/basic_stats/hit_stats.html",
"mode":    "full"
},
{
"header":   "Playstyles",
"location": "partials/replay/tabs/basic_stats/playstyle.html",
"mode":    "full"
},
] %}
{% set tab_name='basic_stats' %}

<div style="height: 90vh;">
{% include "partials/tabs.html" %}
</div>
