{% set pie_charts = ['possession_time', 'time_closest_to_ball', 'time_furthest_from_ball'] %}
{% set bar_charts = ['total_dribbles', 'total_passes', 'total_aerials', 'ball_hit_forward',
'ball_hit_backward', 'time_high_in_air', 'time_low_in_air', 'boost_usage', 'wasted_collection', 'wasted_usage', 'time_on_ground'] %}


{% set tabs = [
{
"header":   "Hits",
"location": "partials/replay/tabs/basic_stats/hit_stats.html",
"mode":    "full"
},
{
"header":   "Ball",
"location": "partials/replay/tabs/basic_stats/ball.html",
"mode":    "full"
},
{
"header":   "Positioning",
"location": "partials/replay/tabs/basic_stats/position.html",
"mode":    "full"
},
{
"header":   "Playstyles",
"location": "partials/replay/tabs/basic_stats/playstyle.html",
"mode":    "full"
},
{
"header":   "Possession",
"location": "partials/replay/tabs/basic_stats/possession.html",
"mode":    "full"
}] %}
{% set tab_name='basic_stats' %}

<div style="min-height: 90vh;">
{% include "partials/tabs.html" %}
</div>
