{% set tabs = [
{
"header":   "replay viewer",
"location": "partials/replay/tabs/viewer.html",
"mode":    "alpha"
},
{
"header":   "basic stats",
"location": "partials/replay/tabs/basic_stats.html",
"mode":    "full"
},
{
"header":   "advanced stats",
"location": "partials/replay/tabs/advanced_stats.html",
"mode":    "beta"
},
] %}
{% set tab_name='main' %}

{% include "partials/materialize_tabs.html" %}
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        M.Tabs.init(document.getElementById('main'), {
            swipeable: false,
            onShow: function () {
                M.Tabs.init(document.getElementById('basic_stats'), {

                });
            }
        });
    });
</script>
