<div id="shot-view-container" style="position: relative">
    <script>
        requirejs(['shotViewer'], function (viewer) {
            viewer.startShotViewer('{{ id }}');
        });
    </script>
    <div id="viewer" style="display: block"></div>
    <button onclick="cameraTop()">Top View</button>
    <button onclick="cameraSide()">Side View</button>
    <button onclick="rotateLeft()">Rotate Left</button>
    <button onclick="rotateRight()">Rotate Right</button>
    <button onclick="raiseCamera()">Raise</button>
    <button onclick="lowerCamera()">Lower</button>
    <button onclick="graph()">Graph</button>
</div>
