<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/three.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/controls/OrbitControls.js') }}"></script>
<script src="{{ url_for('static', filename='js/controls/FlyControls.js') }}"></script>
<script src="{{ url_for('static', filename='js/controls/MapControls.js') }}"></script>
<script src="{{ url_for('static', filename='js/controls/PointerLockControls.js') }}"></script>
<script src="{{ url_for('static', filename='js/controls/OBJLoader.js') }}"></script>
<script src="{{ url_for('static', filename='js/controls/GPUParticleSystem.js') }}"></script>
<script src="{{ url_for('static', filename='js/stats.min.js') }}"></script>
