.match-history .table-container {
    width: 100%;
}

.match-history .collapsible-header {
    padding: calc(.5rem - 2px) 1rem;
}

.match-history .collapsible-body {
    padding: 0;
}

.match-history a i.material-icons:hover {
    transition-property: transform;
    transition-duration: 100ms;
    transform: scale(1.2);
}

.match-history {
    display: flex;
    margin: 5px 0 0;
    padding: 2px 0 0;
}
.match-history::-webkit-scrollbar {
    display: none;
}

.match-history .table-container .accordion-header.row {
    display: flex;
    padding: 0 1rem;
    margin-bottom: 0;
    margin-left: 1px;
    margin-right: 1px;
}

.match-history .accordion-header div {
    font-size: 1.2em;
    font-weight: 400;
}

.match-history .collapsible-header.row {
    margin-bottom: 0;
}

.match-history .accordion-header i {
    width: 2rem;
    font-size: 1.6rem;
    display: inline-block;
    text-align: center;
    margin-right: 1rem;
}

.scrollable-numbers {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 50vw;
    overflow-x: scroll;
}

.scrollable-numbers li {
    flex-shrink:0;
}

.scrollable-numbers::-webkit-scrollbar {
    display: none;
}

.number-holder {
    display: inline-flex;
    flex-direction: row;
}
