.playerpanel {
    display: flex;
    flex-direction: row;
}

.playerpanel .name {
    font-size: 1.5em;
    font-weight: 300;
}

.mdc-card .playerpanel {
    padding: 0;
}

.playerpanel .info {
    display: flex;
    margin-left: 1rem;
    flex-direction: column;
    justify-content: center;
}

.playerpanel .avatar {
    max-width: 33%;
}

.playerpanel .avatar * {
    height: 100%;
    width: 100%;
}

.platform {
    display: flex;
}

.steam-link {
    font-size: .8em;
}
