.rank-panel {
    margin: 5px 0px;
    padding: 5px 0px;
    display: flex;
}

.rankpic {
    max-width: 150px;
    max-height: 150px;
    align-self: center;
}

.sidebar .rank-panel {
    flex-wrap: wrap;
    flex-direction: row;
}

.sidebar .rank-panel .rank {
    max-width: calc(50% - 1px);
    margin-bottom: 20px;
}

.rankpic {
    background: radial-gradient(#404050 40%, transparent 60%);
}

.sidebar .rankpic {
    max-width: calc(50% - 1px);
    align-self: center;

}

.rank {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}
