.score-panel {
    padding: 1rem;
    position:relative;
    overflow-x: hidden;
    width:100%;
}

.score-panel .teams {
    display: flex;
    justify-content: center;
}

.score-panel .teams * {
    margin: .5rem 1rem;
}

.score-panel .spacer {
    visibility: hidden;
}

.team-title {
    display: flex;
    font-size: 1.2em;
    font-weight: 400;
}
