.stat-panel {
    margin: 5px 0px;
    padding: 5px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stat-value {
    display: flex;
    margin-left: auto;
    flex-direction: column;
}

.percent {
    padding: 5px;
    text-align: center;
    border-top: 1px solid rgb(70, 70, 70);
    border-bottom: 1px solid rgb(70, 70, 70);
    background-color: rgb(213, 248, 213);
}

.percent-full {
    padding: 5px;
    text-align: center;
    border: 1px solid rgb(70, 70, 70);
    background-color: rgb(213, 248, 213);

}

.stat-name {
    margin-left: 10px;
    font-size: 1.2em;
    color: rgb(73, 73, 73);
}
