{% set team_members = ((replay.playergames|sort(attribute='score', reverse=False)))|sort(attribute='is_orange', reverse=False) %}
<a title="Download .replay file" href="{{ url_for('replays.download_replay', id_=id + '.replay') }}"><h3 style="margin-top: 0;">{{ replay.name|e }}</h3></a>
<div class="team-boxes">
    <div class="player-box blue">
        <!-- Player box -->
        {% set team = team_members|rejectattr('is_orange') %}
        {% include "partials/replay/metadata/player_metadata.html" %}
    </div>
    <div class="player-box orange">
        <!-- Player box -->
        {% set team = team_members|rejectattr('is_orange', 'equalto', 0) %}
        {% include "partials/replay/metadata/player_metadata.html" %}
    </div>
</div>
<div class="replay-header">

    <div class="score-box">
        <!-- SCORE BOX -->
        <div id="scoreBox">
            {% set team_names = ['Blue', 'Orange'] %}

            {% set graphs = ["score", "goals", "assists", "saves", "shots"] %}
            {% set graph_length = graphs|length %}
            {% set json_keys = ["player", "name", "is_orange"] + graphs %}
            <script>
                (function (hostId, labels) {
                    document.addEventListener("DOMContentLoaded", function () {
                        const replayData = [{{ jsonify(team_members, json_keys) }}];
                        requirejs(['overallReplayGraph'], function (replayGraphs) {
                            replayGraphs.showOverallReplayGraphs(hostId, '.graph-list-container', labels, replayData);
                        });
                    });
                })('scoreBox', {{ graphs|tojson }});
            </script>
            {% include "partials/replay/shared/score_graph.html" %}
        </div>
    </div>

</div>
