<b>Player List:</b>
<ol>
    {% for p in team %}
        <li><b><span title="Actor ID: {{ p.actor_id }}">{{ p.name }}

                        </span></b>
            {% if p.platformid | string | length == 17 %}
                | <a href="https://steamcommunity.com/profiles/{{ p.platformid }}">Steam</a>
            {% endif %}
            <ul>
                <li><b>Car:</b> {{ cars[p.car] }} </li>
                <li><b>Camera settings</b>
                    <ul>
                        {% set keys = ['field_of_view','transition_speed','pitch','swivel_speed','stiffness','height','distance'] %}
                        {% for k in keys %}
                            <li>{{ k }}: {{ p[k] }}</li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </li>
    {% endfor %}
</ol>
