[run]
branch = True
source = backend

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
omit =
    tests/*
    loader.py
    imports_test.py
    helpers/*
    redis/*
    backend/tasks/training_packs/parsing/*