sudo: required
dist: xenial
language: python
python:
  - '3.7'

services:
- postgresql
- redis-server

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test


cache:
  - pip
  - npm


install:
- pip install -r requirements.txt
- pip install -r requirements-test.txt

script: skip

# We only build if it is a pr into master or it is a pr and it is not into master
if:
  branch = master OR (type = pull_request AND NOT branch = master)


stages:
  - name: lint
  - name: test
  - name: deploy
    if: branch = master AND NOT fork AND type = push
  - name: announcement


jobs:
  include:
    - stage: lint
      name: "style checks javascript"
      install:
        - cd webapp
        - npm install
        - cd $TRAVIS_BUILD_DIR
      script:
        - chmod 777 .travis/tslint.sh && .travis/tslint.sh
    - stage: lint
      name: "style checks python"
      script:
        - cd $TRAVIS_BUILD_DIR
        - pytest imports_test.py
    - stage: test
      name: "server unit tests 3.6"
      python:
        - '3.6'
      script:
        - pytest tests/server_tests --cov=./
        - bash <(curl -s https://codecov.io/bash) -c -F server
      after_success:
        - codecov
    - stage: test
      name: "server unit tests 3.7"
      python:
        - '3.7'
      script:
        - pytest tests/server_tests --cov=./
        - bash <(curl -s https://codecov.io/bash) -c -F server
      after_success:
        - codecov
    - stage: test
      name: "integration tests"
      python:
        - '3.7'
      before_install:
        - cd webapp
        - npm install
        - cd $TRAVIS_BUILD_DIR
      script:
        - cd webapp
        - npm start &
        - cd $TRAVIS_BUILD_DIR
        - celery -A backend.tasks.celery_worker.celery worker --pool=solo -l ERROR --logfile=/dev/null &
          # Wait for all other systems to be setup
        - sleep 30
        - pytest tests/integration_tests --cov=./
        - bash <(curl -s https://codecov.io/bash) -c -F integration
      after_success:
        - codecov
    - stage: test
      name: "react unit tests"
      install:
        - cd webapp
        - npm install
        - npm install codecov -g
        - cd $TRAVIS_BUILD_DIR
      script:
        - cd webapp
        - CI=true npm test
      after_success:
        - bash <(curl -s https://codecov.io/bash) -c -F frontend
    - stage: deploy
      name: "Deploy to Production"
      install: skip
      script: skip
    - stage: announcement
      name: "Announce success"
      python: "3.7"
      install: skip
      script: skip
      after_success:
      - wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
      - chmod +x .travis/send.sh
      - ./.travis/send.sh success $WEBHOOK_URL

