# Server names (Should be exactly as the services defined in docker-compose file)
REDIS_HOST=redis
POSTGRES_HOST=postgres

# Server ports
REDIS_PORT=6379
POSTGRES_PORT=5432
LB_PORT=8080

# Users 
POSTGRES_USER=postgres

# Passwords (This is just placeholders for names, should not be used for putting the actual passwords)
# POSTGRES_PASSWORD

# Databases
POSTGRES_DB=saltie

# Volumes
POSTGRES_VOLUME=calculated.gg.postgres
REDIS_VOLUME=calculated.gg.redis
REPLAYS_VOLUME=calculated.gg.replays

# Mount points
POSTGRES_MOUNT=/var/lib/postgresql/data
REDIS_MOUNT=/data
REPLAYS_MOUNT=/app/data
