amqp==2.3.2
arrow==0.12.1
Babel==2.6.0
billiard==3.5.0.4
carball==0.6.2
celery==4.2.1
certifi==2018.8.24
chardet==3.0.4
click==6.7
cycler==0.10.0
Flask==1.0.2
Flask-Celery-Helper==1.1.0
Flask-Cors==3.0.6
Flask-Login==0.4.1
flower==0.9.2
gunicorn==19.9.0
idna==2.7
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
kombu==4.2.1
MarkupSafe==1.0
matplotlib==2.2.3
numpy==1.15.1
pandas==0.23.4
proj==0.1.0
protobuf==3.6.1
psycopg2==2.7.5
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
redis==2.10.6
requests==2.19.1
six==1.11.0
SQLAlchemy==1.2.11
tornado==5.1
urllib3==1.23
vine==1.1.4
Werkzeug==0.14.1
xlrd==1.1.0
