twine
pytest
requests
pytest-cov>=2.4.0,<2.6
coverage
codecov
pep8
autopep8
httmock
alchemy-mock
mock==2.0.0
fakeredis
git+https://github.com/tk0miya/testing.postgresql.git@master
urllib3==1.25.8
pytest-mock
requests-mock
responses
