{% from "macros/json.html" import jsonify %}
<script id="historyScript">
    (function () {
        console.log('executing function right?');
        requirejs(['match/matchHistoryLoader'], function (loader) {
            let matchHistory = function () {
                console.log('creating match list');
                let matches = document.getElementsByClassName("match");
                requirejs(['matchHistory'], function (matchHistory) {
                    matchHistory.addMatchHandler(matches);
                });
                let matchHistoryElement = document.querySelector('.match-history');
                var elems = document.querySelectorAll('.collapsible');
                M.Collapsible.init(elems, {
                    onOpenEnd: function (openedElement) {
                        setTimeout(function () {
                            let scrollAmount = openedElement.offsetTop - matchHistoryElement.offsetTop;
                            let currentScrollPosition = matchHistoryElement.scrollTop;
                            let guess1 = scrollAmount - currentScrollPosition;
                            console.log('scroll guess', guess1);
                            matchHistoryElement.scrollBy({
                                top: guess1,
                                behavior: 'smooth'
                            });
                        }, 50);
                    }
                });
                document.querySelectorAll('.match-history i.material-icons').forEach((element) => {
                    element.onclick = function (event) {
                        event.stopPropagation();
                    }
                });
            };
            loader.setHistoryList(matchHistory);
        });
    })();
</script>
<div class="table-container">
    <div class="row accordion-header">
        <div>Stats</div>
        {% set headers = ["Date", "Name", "Gamemode", "Score", "Outcome"] %}
        {% for header in headers %}
        <div class="col s2 center-align">{{ header }}</div>
        {% endfor %}
    </div>
    <ul class="collapsible">
        {% for game in games|sort(attribute='game_object.match_date') %}
            {% set name = game.game_object.hash if game.game_object.name == None else game.game_object.name %}
            {% set replay = game.game_object %}
            {% set dropdown_id = 'drop_down' + game.game_object.hash %}
            {% set match_id = 'match_' + game.game_object.hash %}
            <li>
                <div class="collapsible-header row row-hover" id="{{ match_id }}">
                    <a href="{{ url_for('replays.view_replay', id_=game.game_object.hash) }}"><i class="material-icons">equalizer</i></a>
                    <div class="col s2 center-align">
                        {{ game.game_object.match_date.strftime('%Y-%m-%d') }}
                    </div>
                    <div class="col s2 center-align">
                        {{ name }}
                    </div>
                    <div class="col s2 center-align">{{ game.game_object.teamsize }}s</div>
                    <div class="col s2 center-align">
                        <span style="color:blue">{{ game.game_object.team0score }}</span> - <span style="color:orange">{{ game.game_object.team1score }}</span>
                    </div>
                    <div class="col s2 center-align">{% if game.win %}Win{% else %}Loss{% endif %}</div>
                </div>
                <div class="collapsible-body" id="{{ dropdown_id }}">
                    {# orange #}
                    {% set team_names = ['Blue', 'Orange'] %}
                    {% set team_members = ((replay.playergames|sort(attribute='score', reverse=False)))|sort(attribute='is_orange', reverse=False) %}
                    {% set graphs = ["score", "goals", "assists", "saves", "shots"] %}
                    {% set graph_length = graphs|length %}
                    {% set json_keys = ["player", "name", "is_orange"] + graphs %}
                    <script class="graphScript">
                        (function(host_id, action_element_id,  labels) {
                            requirejs(['match/matchHistoryLoader'], function (loader) {
                                console.log('creating graph loader function');
                                let matchLoader = function () {
                                    console.log('graph loader called');
                                    const replay_data = [{{jsonify(team_members, json_keys)}}];
                                    requirejs(['matchHistory'], function (matchHistory) {
                                        matchHistory.addAction(action_element_id, host_id, labels, replay_data);
                                    });
                                };
                                console.log('adding history callback');
                                loader.setHistoryCallback(matchLoader);
                            });
                        })('{{ dropdown_id }}', '{{ match_id }}', {{ graphs|tojson }});
                    </script>
                    {% include "partials/replay/shared/score_graph.html" %}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
