<ul class="color-test">
<div title="#0511F5" style="background: #0511F5; width: 50px; height: 50px;"></div>
<!--<div title="#0445D1" style="background: #0551F5; width: 50px; height: 50px;"></div>-->
<div title="#05F5DA" style="background: #0564F5; width: 50px; height: 50px;"></div>
<div title="#108EE8" style="background: #108EE8; width: 50px; height: 50px;"></div>

<div title="#FF5A1D" style="background: #EB1000; width: 50px; height: 50px;"></div>
<div title="#F51C98" style="background: #F55105; width: 50px; height: 50px;"></div>
<div title="#F51C98" style="background: #FF9C12; width: 50px; height: 50px;"></div>
<!--
        <div title="#FF5A1D" style="background: #eb0600; width: 50px; height: 50px;"></div>
        <div title="#F51C98" style="background: #F52707; width: 50px; height: 50px;"></div>
        <div title="#F51C98" style="background: #ff4600; width: 50px; height: 50px;"></div>
-->

<!--
  <div title="#0511F5" style="background: #0511F5; width: 50px; height: 50px;"></div>
  <div title="#0445D1" style="background: #0445D1; width: 50px; height: 50px;"></div>
  <div title="#108EE8" style="background: #108EE8; width: 50px; height: 50px;"></div>
  <div title="#04B2D1" style="background: #04B2D1; width: 50px; height: 50px;"></div>
  <div title="#05F5DA" style="background: #05F5DA; width: 50px; height: 50px;"></div>

  <div title="#F51C98" style="background: #DE1F00; width: 50px; height: 50px;"></div>
  <div title="#F51C98" style="background: #DE4600; width: 50px; height: 50px;"></div>
  <div title="#FF5A1D" style="background: #d67200; width: 50px; height: 50px;"></div>
  <div title="#F5761C" style="background: #feb900; width: 50px; height: 50px;"></div>
  <div title="#F51C98" style="background: #fedf00; width: 50px; height: 50px;"></div>

<!--
  <div title="#FF5A1D" style="background: #D41221; width: 50px; height: 50px;"></div>
  <div title="#F5761C" style="background: #F67315; width: 50px; height: 50px;"></div>

  -->
</ul>
