{% extends 'partials/base.html' %}

{% block title %}Player Info{% endblock title %}
{% block imports %}
{% endblock imports %}
{% block body %}
<div style="display: flex">
    <ul id="spider-color">
        <div>Spider colors</div>
    </ul>
    <ul id="global-color">
        <div>Global colors</div>
    </ul>
    <ul id="score-color">
        <div>Score colors</div>
    </ul>
    <ul class="color-test">
        <div>Hard coded</div>
    <!--
        <div title="#0511F5" style="background: #0511F5; width: 50px; height: 50px;"></div>
        <div title="#05F5DA" style="background: #0564F5; width: 50px; height: 50px;"></div>
        <div title="#108EE8" style="background: #108EE8; width: 50px; height: 50px;"></div>
    -->
        <!-- other blues -->

        <div title="#0511F5" style="background: #0511F5; width: 50px; height: 50px;"></div>
        <div title="#129fea" style="background: #129fea; width: 50px; height: 50px;"></div>
        <div title="#05E5CC" style="background: #05E0CC; width: 50px; height: 50px;"></div>
        <div title="#FF5A1D" style="background: #EB1000; width: 50px; height: 50px;"></div>
        <div title="#F51C98" style="background: #F55105; width: 50px; height: 50px;"></div>
        <div title="#F51C98" style="background: #FF9C12; width: 50px; height: 50px;"></div>

        <!-- OTHER BLUES / GREENS -->
        <div title="#05F5DA" style="background: #04B2D1; width: 50px; height: 50px;"></div>
        <div title="#108EE8" style="background: #05F5DA; width: 50px; height: 50px;"></div>
    <!--
            <div title="#FF5A1D" style="background: #eb0600; width: 50px; height: 50px;"></div>
            <div title="#F51C98" style="background: #F52707; width: 50px; height: 50px;"></div>
            <div title="#F51C98" style="background: #ff4600; width: 50px; height: 50px;"></div>
    -->

    <!--
      <div title="#0511F5" style="background: #0511F5; width: 50px; height: 50px;"></div>
      <div title="#0445D1" style="background: #0445D1; width: 50px; height: 50px;"></div>
      <div title="#108EE8" style="background: #108EE8; width: 50px; height: 50px;"></div>
      <div title="#04B2D1" style="background: #04B2D1; width: 50px; height: 50px;"></div>
      <div title="#05F5DA" style="background: #05F5DA; width: 50px; height: 50px;"></div>

      <div title="#F51C98" style="background: #DE1F00; width: 50px; height: 50px;"></div>
      <div title="#F51C98" style="background: #DE4600; width: 50px; height: 50px;"></div>
      <div title="#FF5A1D" style="background: #d67200; width: 50px; height: 50px;"></div>
      <div title="#F5761C" style="background: #feb900; width: 50px; height: 50px;"></div>
      <div title="#F51C98" style="background: #fedf00; width: 50px; height: 50px;"></div>

    <!--
      <div title="#FF5A1D" style="background: #D41221; width: 50px; height: 50px;"></div>
      <div title="#F5761C" style="background: #F67315; width: 50px; height: 50px;"></div>

      -->
    </ul>
</div>


<script>
    function addColors(element, list) {
        for (let i = 0; i < list.length; i++) {
            let color = document.createElement('div');
            color.style.background = list[i].backgroundColor;
            color.style.border = 'thick solid';
            color.style.borderColor = list[i].borderColor;
            color.title=color.style.background;
            color.style.height = '50px';
            color.style.width = '50px';

            (function(element, backgroundColor, hoverColor) {
                element.addEventListener('mouseenter', function () {
                     this.style.background = hoverColor;
                });
                element.addEventListener('mouseleave', function () {
                    this.style.background = backgroundColor;
                });
            })(color, list[i].backgroundColor, list[i].hoverBackgroundColor);
            element.appendChild(color);
        }
    }
    requirejs(['colors'], function(color) {
        let element = document.getElementById('spider-color');
        addColors(element, color.getSpiderColors(10));

        element = document.getElementById('global-color');
        addColors(element, color.getChartColors(10));

        element = document.getElementById('score-color');
        addColors(element, color.getHorizontalColors());
    });
</script>
{% endblock body %}
