<!-- views/partials/navbar.ejs -->
<div class="navbar">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='partials.css') }}">
    <m>
        <logo>
            <a href="/">saltie</a>
        </logo>
    </m>
    <m>
        <motto>
            a rocket league statistics platform
        </motto>
    </m>
        <form action='{{ url_for('steam.resolve_steam') }}' enctype='multipart/form-data' method="post">
            <input name=name type="text" class="search" placeholder="enter steamID or username" required>
        </form>
    <m class="right"><a href = "#"><box>global stats</box></a></m>
    <m><d> · </d></m>
    <m><a href = "#"><in>about</in></a></m>
    <m><d> · </d></m>
    <m><a href="https://github.com/SaltieRL/DistributedReplays"><in>github</in></a></m>
    <m><d> · </d></m>
    <m><a href = "#"><in>support</in></a></m>
    <m><d> · </d></m>
</div>