<!-- views/partials/navbar.ejs -->
<div class="navbar">
    <div>
        <div class="logo">
            <a href="/"><img style="margin-top: 5px" height="50px" src="{{ url_for('static', filename='img/logos/calculated-logo.png') }}"/></a>
        </div>
    </div>
    <div>
        <motto>
            a rocket league statistics platform {% if isBeta() %}(beta){% endif %}
        </motto>
    </div>
    <div class="searchblock">
        <form action='{{ url_for('steam.resolve_steam') }}' enctype='multipart/form-data' method="post">
            <i class="icono-search"></i>
            <input name=name type="text" class="search" placeholder="enter steamID or username" required>
        </form>
    </div>
    <div class="right"><a href="{{ url_for('replays.upload') }}">
        <div class="framebox">upload replays</div>
    </a></div>
    <div>
        <d> ·</d>
    </div>
    <div><a href="#">
        <in>about</in>
    </a></div>
    <div>
        <d> ·</d>
    </div>
    <div><a href="https://github.com/SaltieRL/DistributedReplays">
        <in>github</in>
    </a></div>
    <div>
        <d> ·</d>
    </div>
    <div><a href="https://discord.gg/c8cArY9">
        <in>discord</in>
    </a></div>
    <div>
        <d> ·</d>
    </div>
</div>
