<!-- views/partials/navbar.ejs -->
<div class="navbar">
    <link rel="stylesheet" type="text/css" href="/css/partials.css">
    <m>
        <logo>
            <a href="/">rlstats</a>
        </logo>
    </m>
    <m>
        <motto>
            a rocket league statistics platform
        </motto>
    </m>
    <form action="player" method="post">
        <input name="usrInput" type="text" class="search" placeholder="enter steamID or username" required>
    </form>
    <m class="right"><a href = "#"><box>global stats</box></a></m>
    <m><d> · </d></m>
    <m><a href = "https://www.google.com"><in>about</in></a></m>
    <m><d> · </d></m>
    <m><a href="https://github.com/jbyers44/rl.stat"><in>github</in></a></m>
    <m><d> · </d></m>
    <m><a href = "#"><in>support</in></a></m>
    <m><d> · </d></m>
</div>