:root {
    --borderColor: #dddddd;
    --darkBorderColor: #bdbdbd;
}

html, body {
    font-family: "Lato", "Fira Mono", monospace;
    font-weight: 300;
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
}

.table th {
    padding-right: 20px;
}

/* MATERIAL DESIGN BASE VALUES */

body {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

/* search */

form {
    margin: 0;
    padding: 0;
}

.searchblock {
    position: relative;
}

.search:before {
    width: 4px;
    height: 11px;
    box-shadow: inset 0 0 0 32px;
    top: 19px;
    border-radius: 0 0 1px 1px;
}

.search {
    min-width: 300px;
    padding: 10px 15px;
    font-family: "Lato", "Fira Mono", monospace;
    border: 0px;
    font-weight: 300;
    border-bottom: 1px solid var(--borderColor);
    color: #4b545f;
    text-align: center;
    font-size: 18px;
    outline: none;
}

.searchblock i {
    position: absolute;
    left: 10px;
    top: 10%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #000000;
    transition: background-color 5000s ease-in-out 0s;
}

.header_holder {
    position: relative;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--borderColor);
}

.header {
    font-weight: 600;
    font-size: 1.2em;
}

.mdc-card {
    margin: 5px 5px .5rem;
}
.mdc-card .header_holder {
    padding-top: 5px;
    padding-left: 5px;
}

.mdc-card .header_holder ~ * {
    padding: 1rem;
}

.row-hover {
    transition: 0.4s;
}

.active .collapsible-header, .row-hover:hover {
    background-color: rgb(228, 245, 255);
}

.main-content {
    display: flex;
    flex-direction: row;
    margin: 0 2%;
    margin-top: 10px;
    height: calc(100vh - 60px - 5rem);
}

footer {
    font-size: 1em;
    border-top: 1px dashed var(--borderColor);
    height: 5rem;
}

footer.page-footer {
    padding-top: 10px;
}
