html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
    display: flex;
    background-image: url(/static/img/background/splash.png);
    background-size: cover;
}

.homepage {
    display: flex;
    flex-direction: column;
}

.logo {
    padding: 20px;
}

.logo-image {
    max-width: 80vw;
}

.logo-caption {
    font-size: 0.875rem;
    line-height: 1.46429em;
    margin-top: 1rem;
}

.search-form {
    margin: auto 16px;
    display: flex;
}

#search-input {
    border: 0;
    outline: 0;
    margin: 0;
    box-shadow: none;
}

.search-icon {
    color: rgba(0, 0, 0, 0.54);
    height: 1em;
    font-size: 1.5rem;
    vertical-align: 4px;
}
