body {
    margin: 0;
    font-family: "Lato", "Fira Mono", monospace;
    font-weight: 300;
}

.sidebar {
    margin-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid var(--borderColor);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-width: 20%;
}

.playerpanel {
    display: flex;
    flex-direction: row;
}

.mdc-card .playerpanel {
    padding: 0;
}

.playerpanel .info {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    justify-content: center;
}

.playerpanel .avatar {
    max-width: 33%;
}

.playerpanel .avatar * {
    height: 100%;
    width: 100%;
}

.main {
    margin-top: 10px;
    padding-left: 20px;
    flex-grow: 8;
    display: flex;
    flex-direction: column;
    max-width: 80%;
}

.matchhistory {
    display: flex;
    margin: 5px 0px;
    padding: 5px 0px;
}

.mhtable {
    border-spacing: 0px;
    flex-grow: 1;
}

.match {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

tr.dropdowndata {
    display: none;
    overflow: hidden;
    transition: display 0.2s ease-out;
}

tr.dropdowndata.show {
    display: table-row;
}

tr.win {
    background-color: rgb(228, 245, 255);
}

tr.loss {
    background-color: white;
}

td {
    text-align: center;
    border-top: 1px solid var(--borderColor);
    border-left: 1px solid var(--borderColor);
    border-right: 1px solid var(--borderColor);
    padding: 8px;
}

tbody {
    border-bottom: 1px solid var(--borderColor);
}

td.team {
    font-weight: bold;
}

th {
    padding: 8px
}

.rankpanel {
    margin: 5px 0px;
    padding: 5px 0px;


    display: flex;
}

.chartpanel {
    margin: 5px 0px;
    padding: 5px 0px;
    display: flex;
}

.statpanel {
    margin: 5px 0px;
    padding: 5px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.statpanelnoborders {
    margin: 5px 0px;
    display: flex;
    flex-direction: row;
}

.stat {
    display: flex;
    margin-left: auto;
    flex-direction: column;
}

.right {
    margin-left: auto;
}

.carname {
    display: block;
    word-wrap: break-word;
    padding: 5px;
    margin: 0px 3px;
    text-align: center;
    border-top: 1px solid rgb(70, 70, 70);
    border-bottom: 1px solid rgb(70, 70, 70);
    background-color: rgb(252, 252, 220);
    margin-bottom: 5px;
}

.verticalcarstat {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-right: 1px solid var(--borderColor);
    border-left: 1px solid var(--borderColor);
    margin: 0px 3px;
}

.verticalcaricon {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.pctg {
    padding: 5px;
    text-align: center;
    border-top: 1px solid rgb(70, 70, 70);
    border-bottom: 1px solid rgb(70, 70, 70);
    background-color: rgb(213, 248, 213);
}

.pctgfull {
    padding: 5px;
    text-align: center;
    border: 1px solid rgb(70, 70, 70);
    background-color: rgb(213, 248, 213);

}

.errmsg {
    text-align: center;
    margin: 50px auto;
    padding: 2% 5%;
    border: 1px solid var(--borderColor);
}

.panel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.rankpic {
    max-width: 150px;
    max-height: 150px;
    align-self: center;
}

.sidebar .rankpanel {
    flex-wrap: wrap;
    flex-direction: row;
}

.sidebar .rankpanel .panel {
    max-width: calc(50% - 1px);
    margin-bottom: 20px;
}

.rankpic {
    background: radial-gradient(#404050 40%, transparent 60%);
}

.sidebar .rankpic {
    max-width: calc(50% - 1px);
    align-self: center;

}

.sidebar .t1 {
    font-size: 1.5em;
}

.detail {
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    list-style: none;
}

.detail2 {
    font-size: .8em;
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    list-style: none;
}

.cat {
    padding-right: 8px;
    color: rgb(10, 6, 73);
}

.t1 {
    font-size: 1.5em;
}

.t2 {
    margin-left: 10px;
    font-size: 1.2em;
    color: rgb(73, 73, 73);
}

.t3 {
    font-size: 1.2em;
    color: rgb(73, 73, 73);
}

ul, li {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.team.orange h4::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 25%;
    bottom: 0;
    right: -25%;
    border-width: 2px;
    border-style: solid;
    /* border-color: #25fdf7cc #c73d3d #ffdba8; */
    background-color: #ffdba8;
    transform: skew(-50deg, 0deg);
}

.team.orange h4::before {
    content: "";
    position: absolute;
    width: 4%;
    height: 25%;
    bottom: 0;
    right: 27%;
    border-width: 2px;
    border-style: solid;
    /* border-color: #25fdf7cc #c73d3d #ffdba8; */
    background-color: #ffdba8;
    transform: skew(-50deg, 0deg);
}

.team.blue h4::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 25%;
    top: 0;
    left: -25%;
    border-width: 2px;
    border-style: solid;
    border-color: #000000;
    background-color: #b2b2ff;
    transform: skew(-50deg, 0deg);
}

.team.blue h4::before {
    content: "";
    position: absolute;
    width: 4%;
    height: 25%;
    top: 0;
    left: 27%;
    border-width: 2px;
    border-style: solid;
    border-color: #000000;
    /* border-color: #25fdf7cc #c73d3d #ffdba8; */
    background-color: #b2b2ff;
    transform: skew(-50deg, 0deg);
}

.team.blue h4 {
    margin-top: 0;
}

.team.orange h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.team {
    position: relative;
}

/* POST MATERIAL DESIGN CSS */
.table-container .accordion-header.row {
    display: flex;
    padding: 0 1rem;
    margin-bottom: 0;
    margin-left: 1px;
    margin-right: 1px;
}

.accordion-header div {
    font-size: 1.2em;
    font-weight: 400;
}

.collapsible-header.row {
    margin-bottom: 0;
}

.accordion-header i {
    width: 2rem;
    font-size: 1.6rem;
    display: inline-block;
    text-align: center;
    margin-right: 1rem;
}
