:root {
    --tabActiveColor: #ffffff;
    --tabUnactiveColor: #eeeeee;
    --tabUnactiveHoverColor: #dddddd;
}

.tabs-holder ul li label {
    float: left;
    padding: 15px 25px;
    border-bottom: 0;
    background: var(--tabUnactiveColor);
    color: #444;
    position: relative;
    cursor: pointer;
    margin-bottom: 2px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.tabs-holder ul li label:hover {
    background: var(--tabUnactiveHoverColor);
}

.tabs-holder ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tabs-holder ul li:not(:last-child) label {
    border-right-width: 0;
}

.tabs-holder {
    box-sizing: border-box;
}

.tabs-holder section {
    clear: both;
}

.pc-tab section > div {
    padding: 20px;
    width: 100%;
    border: 1px solid #ddd;
}
