<div class="playerpanel" style="margin-top: 0px; margin-bottom: 15px;">
    <a href="{{ url_for('players.view_player', id_=player['steamid']) }}"><img class="avatar" src="{{ player['avatarfull'] }}" alt="avatar"/></a>
    <div class="info">
        <div class="t1">
            {{ player['personaname'] }}
        </div>
        <ul class="detail">
            <li class="cat">platform:</li>
            <li>steam</li>
        </ul>
        <ul class="detail2">
            <li class="cat"><a href={{ player['profileurl'] }}>profile link</a></li>
        </ul>
    </div>
</div>
