{% for mode in rank %}
<div class="panel">
    <div class="t1">
        {{ mode['mode'] }}
    </div>
    <div>
        <img class="rankpic" src='{{ '/static/img/ranks/' + mode['tier']|string + '.png' }}'
        alt="rank"/>
    </div>
    <div class="rank_info">
        <div>
            {% if mode['rank_points'] > 0 %}
            {{ mode['string'] }}
            {% endif %}
        </div>
        <div>
            {% if mode['rank_points'] == 0 %}
                API error
            {% else %}
                rating: {{ mode['rank_points'] }}
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
