{% from "macros/json.html" import jsonify_nested %}
{% from "macros/json.html" import print_list %}

{% set spider_charts = get_stat_spider_charts() %}

{% if not stats %}
    {% set stats = [] %}
{% endif %}

{% if not users %}
    {% set users = [{'stats': stats}, ] %}
    {% set user_names = ['Player'] %}
{% else %}
    {% set user_names = [] %}
    {% for player in users %}
        {{ user_names.append(player['steam_profile']['response']['players'][0]['personaname']) }}
    {% endfor %}
{% endif %}

{% for chart in spider_charts %}
<div class="graph-holder">
    <canvas id="radar{{ loop.index }}">
    {% set title = chart.title %}
    {% set group = chart.group %}}
    </canvas>
    <script>
        requirejs(['spiderChart'], function (spiderChart) {
            spiderChart.createChart(
                "radar{{ loop.index }}",
                "{{ title }}",
                [{{ jsonify_nested(users, ['stats']) }}],
                {{ user_names|tojson }},
                {{ group|tojson }}
            )
        })
    </script>
</div>
{% endfor %}
