<div>
    <div class="header_holder">
        <span class="header">/ Tendencies</span>
        <span style="font-size: 0.4em" title="Data is represented as total standard deviations from the mean">* Data is represented as total standard deviations from the mean</span>
    </div>

    {% set min_replays = 1 %}
    {% set warning_minimum = 10 %}
    {% if total_games >= min_replays and total_games <= warning_minimum %}
        <div style="background-color:darkred; color:white; font-size:1.5em">
            Not enough replays to get accurate stats! Please submit at least 10 replays.
        </div>
    {% endif %}
    <div class="chart-panel">
        {% if total_games >= min_replays %}
            {% include "partials/player/content/spider_charts.html" %}
        {% else %}
            <div class="errmsg">
                no replays recorded for this profile (are you using the auto-uploader?)
            </div>
        {% endif %}
    </div>
</div>
{% set max_pages=((total_games/game_per_page)|round(0, 'ceil'))|int %}
<div class="header_holder history-holder valign-wrapper" style="position:relative;">
        <span class="header">/ Match History<span>&nbsp;&nbsp;</span>
        </span>
    {% if total_games > game_per_page %}
        <div class="number-holder">
            <ul class="pagination" style="display: inline;">
                <li id="prevpage" class="waves-effect"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            </ul>
            <ul id="pagination" class="pagination scrollable-numbers">
                {% for i in range(0, max_pages) %}
                    <li id="page-{{ loop.index0 }}"
                        class="{% if loop.first %}active{% else %}waves-effect{% endif %} number"
                        data-page="{{ loop.index0 }}"><a href="#!">{{ loop.index }}</a></li>
                {% endfor %}
            </ul>
            <ul class="pagination" style="display:inline;">
                <li id="nextpage" class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>
    {% endif %}
</div>
<div id="dynamic-pages" class="match-history" style="overflow-y: scroll">
    {% if games %}
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                console.log('adding history loader');
                requirejs(['match/matchHistoryLoader'], function (loader) {
                    console.log('creating history loader');
                    loader.onSetActive(function (scrollContainer, activeElement) {
                        setTimeout(function () {
                            let scrollAmount = activeElement.offsetLeft - scrollContainer.offsetLeft;
                            let currentScrollPosition = scrollContainer.scrollLeft;
                            scrollContainer.scrollBy({
                                left: scrollAmount - currentScrollPosition,
                                behavior: 'smooth'
                            });
                        }, 50);
                    });
                    loader.initializeMatchHistory('{{ id }}', {{ max_pages }});
                })
            });
        </script>
        {% include "partials/player/content/match_history.html" %}
    {% else %}
        <div class="errmsg">
            no matches recorded for this profile (are you using the auto-uploader?)
        </div>
    {% endif %}
</div>
</div>
