<div>
    <div class="header_holder">
        <span class="header">/ Tendencies</span>
        <span style="font-size: 0.4em" title="Data is represented as total standard deviations from the mean">* Data is represented as total standard deviations from the mean</span>
    </div>
    <div class="chartpanel">
        {% set min_replays = 1 %}
        {% if total_games > min_replays %}
        {% include "partials/player/content/spider_charts.html" %}
        {% else %}
        <div class="errmsg">
            no replays recorded for this profile (are you using the auto-uploader?)
        </div>
        {% endif %}
    </div>
</div>
    <div class="header_holder">
            <span class="header">/ Match History<span>&nbsp;&nbsp;</span>
                {% if total_games > game_per_page %}
                <span id="prevpage" class="pure-button button-xsmall"><i class="icono-caretLeft clickable"></i></span>
                <span id="nextpage" class="pure-button button-xsmall"><i class="icono-caretRight clickable"></i></span>
            {% endif %}
            </span>
    </div>
    <div class="match-history" style="overflow-y: scroll">
        {% if games %}
        {% set max_pages=(total_games/game_per_page)|round(1, 'ceil') %}
        {% include "partials/player/content/accordion_match_history.html" %}
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                console.log('adding history loader');
                requirejs(['match/matchHistoryLoader'], function (loader) {
                    console.log('creating history loader');
                    loader.initializeMatchHistory('{{ id }}', {{ max_pages }});
                })
            });
        </script>
        {% else %}
        <div class="errmsg">
            no matches recorded for this profile (are you using the auto-uploader?)
        </div>
        {% endif %}
    </div>
</div>
