<div class="searchblock" style="margin-bottom: .5rem;">
    <form action="{{ url_for('players.compare_player_redir', id_=id) }}" method="post">
        <i class="icono-sync"></i>
        <input type="text" name="other" placeholder="Compare to other user" class="search"/>
    </form>
</div>
{% if player %}
<div class="mdc-card">
    <div class="header_holder">
            <span class="header">Profile Information
                {% if 'admin' in groups %}
                    <span title="Admin" style="color: red">[A]</span>
                {% endif %}
                {% if 'beta' in groups %}
                    <span title="Beta Tester <3" style="color: blue">[β]</span>
                {% endif %}
                {% if 'alpha' in groups %}
                    <span title="Alpha Tester <3" style="color: green">[α]</span>
                {% endif %}
            </span>
    </div>
    {% include "partials/player/sidebar/profile.html" %}
</div>
{% endif %}
<div class="mdc-card">
    <div class="header_holder">
        <span class="header">Player Stats</span>
    </div>
    {% include "partials/player/sidebar/stats.html" %}
    {% include "partials/player/sidebar/aliases.html" %}
</div>
<div class="mdc-card">
    <div class="header_holder">
        <span class="header">Rank Information</span>
    </div>
    <div class="rank-panel">
        {% if rank %}
        {% include "partials/player/sidebar/ranks.html" %}
        {% else %}
        <div class="errmsg">
            unable to find rank information for this profile (does this player own rocket league?)
        </div>
        {% endif %}
    </div>
</div>
{% if isAdmin() %}
<div class="mdc-card">
    <div class="header_holder">
        <span class="header">/ Admin Tools</span>
    </div>
    <div class="rank-panel">
        {% set editable_groups = ['alpha', 'beta'] %}
        {% for gp in editable_groups %}
        {% if gp in groups %}
        <form action="{{ url_for('admin.delrole', id=id, role=gp) }}">
            <button>Remove from {{ gp }}</button>
        </form>
        {% else %}
        <form action="{{ url_for('admin.addrole', id=id, role=gp) }}">
            <button>Add to {{ gp }}</button>
        </form>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
