<div class="statpanel">
    <img src="{{ url_for('static', filename='img/icons/bar_graph_icon.png') }}" alt="baricon" width="20">
    <div class="t2">
        favorite car
    </div>
    <div class="stat">
        <div>
            {{ car }}
        </div>
        <div class="pctg">
            {{ (favorite_car_pctg * 100.0)|round }}%
        </div>
    </div>
</div>
Also known as:
<ol>
    {% for name in names %}
        <li><span title="{{ name[1] }} game{% if name[1]|int > 1 %}s{% endif %}">{{ name[0] }}</span></li>
    {% endfor %}
</ol>