{% extends 'partials/base.html' %}

{% block title %}Player Info{% endblock title %}
{% block imports %}
{% include "partials/imports/viewer.html" %}
{% endblock imports %}
{% block body %}

<script>
    var scene, camera, renderer;

    var WIDTH = window.innerWidth;
    var HEIGHT = window.innerHeight;

    var SPEED = 0.01;

    function init() {
        scene = new THREE.Scene();

        initMesh();
        initCamera();
        initLights();
        initRenderer();

        document.body.appendChild(renderer.domElement);
    }

    function initCamera() {
        camera = new THREE.PerspectiveCamera(70, WIDTH / HEIGHT, 1, 10);
        camera.position.set(0, 3.5, 5);
        camera.lookAt(scene.position);
    }


    function initRenderer() {
        renderer = new THREE.WebGLRenderer({antialias: true});
        renderer.setSize(WIDTH, HEIGHT);
    }

    function initLights() {
        var light = new THREE.AmbientLight(0xffffff);
        scene.add(light);
    }

    var mesh = null;

    function initMesh() {
        /*
    var loader = new THREE.JSONLoader();
    loader.load('./marmelab.json', function(geometry, materials) {
        mesh = new THREE.Mesh(geometry, new THREE.MeshFaceMaterial(materials));
        mesh.scale.x = mesh.scale.y = mesh.scale.z = 0.75;
        mesh.translation = THREE.GeometryUtils.center(geometry);
        scene.add(mesh);
    });
    */
        var loader = new THREE.OBJLoader();
        loader.load('/static/img/field/field.obj', function (loadedFieldMesh) {
            let material = new THREE.MeshBasicMaterial({color: 0xff0000});
            material.wireframe = true;
            mesh = loadedFieldMesh;
            mesh.traverse( function ( child ) {
                if ( child instanceof THREE.Mesh ) {
                    child.material = material;
                    child.wireframe = true;
                }
            } );
            mesh.wireframe = true;
            mesh.scale.x = mesh.scale.y = mesh.scale.z = 0.75;
        }, function (whoCares) {

        }, function (onError) {
            console.log(onError);
        });
    }

    function rotateMesh() {
        if (!mesh) {
            return;
        }

        mesh.rotation.x -= SPEED * 2;
        mesh.rotation.y -= SPEED;
        mesh.rotation.z -= SPEED * 3;
    }

    function render() {
        requestAnimationFrame(render);
        rotateMesh();
        renderer.render(scene, camera);
    }

    init();
    render();
</script>
{% endblock body %}
