<script>
    var require = {
        baseUrl: '/static/js',
        paths: {
            matchHistory: "{{ url_for('static', filename='js/match/matchHistory') }}",
            overallReplayGraph: "{{ url_for('static', filename='js/match/overallReplayGraphs') }}",
            colors: "{{ url_for('static', filename='js/colors') }}",
            server: "{{ url_for('static', filename='js/basic_async') }}",
            spiderChart: "{{ url_for('static', filename='js/player/spiderCharts') }}",
            three: "{{ url_for('static', filename='js/three.min') }}",

            // VIEWER
            viewerConstants: "{{ url_for('static', filename='js/field_viewer/constants') }}",
            viewerSetup: "{{ url_for('static', filename='js/field_viewer/setup') }}",
            viewerCamera: "{{ url_for('static', filename='js/field_viewer/camera') }}",
            viewerObjectCreation: "{{ url_for('static', filename='js/field_viewer/objectCreation') }}",
            viewerAnimation: "{{ url_for('static', filename='js/field_viewer/replay_viewer/animate') }}",
            replayViewer: "{{ url_for('static', filename='js/field_viewer/replay_viewer/viewer') }}",
            shotViewer: "{{ url_for('static', filename='js/field_viewer/shot_viewer/shot_viewer') }}",
        }
    }
</script>

<script src="{{ url_for('static', filename='js/require.js') }}"></script>
