{% macro jsonify(list, keys) -%}
    {% for item in list %}
{
        {% for key in keys %}
            {{key}}: '{{item[key]}}',
        {% endfor %}
},
    {% endfor %}
{%- endmacro %}



{% macro print_list(list, key) -%}
{% for item in list %}"{{item[key]}}",{% endfor %}
{%- endmacro %}

{% macro jsonify_numbers(list, keys) -%}
    {% for item in list %}
{
        {% for key in keys %}
            {{key}}: {{'%d' % item[key]}},
        {% endfor %}
},
    {% endfor %}
{%- endmacro %}

{% macro jsonify_nested(list, keys) -%}
    {% for item in list %}
{
    {% for key in keys %}
        {{key}}: {{item[key]|tojson}},
    {% endfor %}
},
    {% endfor %}
{%- endmacro %}
