{% set tabs = [
{
"header":   "replay viewer",
"location": "partials/replay/tabs/viewer.html",
"mode":    "alpha"
},
{
"header":   "basic stats",
"location": "partials/replay/tabs/basic_stats.html",
"mode":    "full"
},
{
"header":   "advanced stats",
"location": "partials/replay/tabs/advanced_stats.html",
"mode":    "beta"
},
] %}
{% if is_alpha() %}
    {% set tab_list = tabs %}
{% elif is_beta() %}
    {% set tab_list = tabs|rejectattr('mode', 'alpha')
{% else %}
    {% set tab_list = tabs|rejectattr('mode', 'alpha')|rejectattr('mode', 'beta') %}
{% endif %}
<div class="tabs-holder">
    <style>
        .tabs-holder > input,
        .tabs-holder section > div {
            /* hide tabs by default */
            display: none;
        }
        /* Make tabs visible */
        {% for tab in tab_list %}
            #tab{{loop.index0}}:checked ~ section .tab{{loop.index0}},
        {% endfor %}
        {
            display: block;
        }

        /* Make tabs pretty on selected */
        {% for tab in tab_list %}
        #tab{{loop.index0}}:checked ~ nav .tab{{loop.index0}},
        {% endfor %}
        {
            label {
                background: var(--tabActiveColor);
                color: #111;
                position: relative;
                &:after {
                     content: '';
                     display: block;
                     position: absolute;
                     height: 2px;
                     width: 100%;
                     background: var(--tabActiveColor);
                     left: 0;
                     bottom: -1px;
                 }
            }
        }
    </style>

</div>


<!-- VIEWER -->
{% if isAlpha() %}
{% include "partials/replay/viewer.html" %}
{% endif %}
