<script>
    document.addEventListener("DOMContentLoaded", function () {
        var matches = document.getElementsByClassName("match");
        var dropdowns = document.getElementsByClassName("dropdowndata");
        for (var i = 0; i < matches.length; i++) {
            matches[i].addEventListener('click', function (ev) {
                var data = !this.classList.contains('active');
                propSet(matches, 'active', 'remove');
                propSet(dropdowns, 'show', 'remove');

                /* if we are not active */
                if (data) {
                    this.classList.toggle("active");
                    this.nextElementSibling.classList.toggle("show");
                }
            });
        }

        function propSet(elements, prop, op) {
            for (var i = 0; i < elements.length; i++) {
                elements[i].classList[op](prop);
            }
        }
    });
</script>
<section>
    <div class="container">
        <table class="mhtable">
            <thead>
            <tr class="header">
                {% set headers = ["Date", "Name", "Gamemode", "Score", "Outcome"] %}
                {% for header in headers %}
                    <th>{{ header }}
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for game in games|sort(attribute='game_object.match_date') %}
                {% set name = game.game_object.hash if game.game_object.name == None else game.game_object.name %}
{#                {% if game.game_object.ranks|length > 0 %}#}
{#                    {% set avg_rank = (game.game_object.ranks|max)|int %}#}
{#                {% endif %}#}
                {% set replay = game.game_object %}
                {% set dropdown_id = 'drop_down' + game.game_object.hash %}
                {% set match_id = 'match_' + game.game_object.hash %}
                <tr class="match" id="{{ match_id }}">
                    <td>
                        <a href="{{ url_for('replays.view_replay', id_=game.game_object.hash) }}">{{ game.game_object.match_date.strftime('%Y-%m-%d') }}</a>
                    </td>
                    <td>
                        <a href="{{ url_for('replays.view_replay', id_=game.game_object.hash) }}">{{ name }}</a>
                    </td>
                    <td>{{ game.game_object.teamsize }}s</td>
                    <td><span style="color:blue">{{ game.game_object.team0score }}</span> - <span
                            style="color:orange">{{ game.game_object.team1score }}</span></td>
                    <td>{% if game.win %}Win{% else %}Loss{% endif %}</td>
                </tr>
                <tr class="dropdowndata" id="{{ dropdown_id }}">
                    <td colspan="5">
                        {% include "replay/score_graph.html" %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>
