{% macro jsonify(list, keys) -%}
{% for item in list %}
{
    {% for key in keys %}
    {{key}}: '{{item[key]}}',
    {% endfor %}
},
{% endfor %}
{%- endmacro %}



{% macro print_list(list, key) -%}
{% for item in list %}"{{item[key]}}",{% endfor %}
{%- endmacro %}


<div>
    {# orange #}
    {% set team_names = ['Blue', 'Orange'] %}
    {% set team_members = ((replay.playergames|sort(attribute='is_orange', reverse=True)))|sort(attribute='score', reverse=True) %}
    {% set graphs = ["score", "goals", "assists", "saves", "shots"] %}
    {% set graph_length = graphs|length %}
    {% set json_keys = ["name", "is_orange"] + graphs %}
    <script>
        (function(host_id, action_element_id,  labels) {
            document.addEventListener("DOMContentLoaded", function () {
                const replay_data = [ {{ jsonify(team_members, json_keys) }} ];
                const player_names = [ {{ print_list(team_members, 'name')}} ];
                requirejs(['matchHistory'], function (matchHistory) {
                    matchHistory.addAction(action_element_id, host_id, labels, replay_data, player_names);
                });
            });
        })('{{ dropdown_id }}', '{{ match_id }}', {{ graphs|tojson }})
    </script>
    <div class="team blue">
        <h4>{{ team_names[0] }}</h4>
    </div>
    <div class="graph_holder" style="position:relative;">
        {% for graph in graphs %}
        <div style="width=100%; height={{ 100/graph_length }}%" class="{{ graph }}"></div>
        {% endfor %}
    </div>
    <div class="team orange">
        <h4>{{ team_names[1] }}</h4>
    </div>
</div>
