{% macro jsonify(list, keys) -%}
{% for item in list %}
{
    {% for key in keys %}
    {{key}}: '{{item[key]}}',
    {% endfor %}
},
{% endfor %}
{%- endmacro %}



{% macro print_list(list, key) -%}
{% for item in list %}"{{item[key]}}",{% endfor %}
{%- endmacro %}


<div>
    {# orange #}
    {% set offset = replay.teamsize %}
    {% set team_names = ['Blue', 'Orange'] %}
    {% set team_members = ((replay.playergames|sort(attribute='is_orange', reverse=True)))|sort(attribute='score', reverse=True) %}
    {% set graphs = ["score", "goals", "assists", "saves", "shots"] %}
    {% set json_keys = ["name"] + graphs %}
    <div class="team blue">
        <h4>{{ team_names[0] }}</h4>
    </div>

    <script>
        (function(host_id, action_element_id,  labels) {
            document.addEventListener("DOMContentLoaded", function () {
                const replay_data = [ {{ jsonify(team_members, json_keys) }} ];

                function createCanvasElements() {
                    var canvas_holder = document.getElementById(host_id).querySelector('.graph_holder');
                    for (let i = 0; i < labels.length; i++) {
                        let canvas = document.createElement('canvas');
                        canvas.className = labels[i];
                        canvas_holder.appendChild(canvas);
                    }
                }

                function remove_canvas_elements() {
                    var elements = document.getElementById(host_id).querySelectorAll("canvas");
                    for (var i = 0; i < elements.length; i++) {
                        elements[i].parentNode.removeChild(elements[i]);
                    }
                }

                document.getElementById(action_element_id).addEventListener("click", function (ev) {
                    var elements = document.getElementById(host_id).querySelectorAll("canvas");
                    if (elements.length <= 0) {
                        console.log('creating canvs');
                        createCanvasElements();
                    } else {
                        console.log('removing canvs');
                        remove_canvas_elements();
                    }
                });
            });
        })('{{ dropdown_id }}', '{{ match_id }}', {{ graphs|tojson }})
    </script>
    <div class="graph_holder">

    </div>
    <div class="team orange">
        <h4>{{ team_names[1] }}</h4>
    </div>
</div>
