<div>
    {# orange #}
    {% set offset = replay.teamsize %}
    {% for team in range(2) %}
    {% set team_names = ['Blue', 'Orange'] %}
    {% set high = offset * 2 if team == 1 else offset %}
    {% set low = offset if team == 1 else 0 %}
    {% set team_members = ((replay.playergames|sort(attribute='is_orange', reverse=True))[low:high])|sort(attribute='score', reverse=True) %}
    <div class="team {{ "orange" if team else "blue" }}"
    style="padding: 10px; {{ "color: white !important;" if not team else "" }}">
    <h4>{{ team_names[i] }}</h4>
    Score: {{ team.score }}
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Score</th>
            <th>Goals</th>
            <th>Assists</th>
            <th>Saves</th>
            <th>Shots</th>
        </tr>
        </thead>
        {% for p in team_members %}
        {% set pid = p.player_object.platformid %}
        <tr>
            <td>
                {% if pid|string|length == 17 %}
                <a href="{{ url_for('players.view_player', id_=pid) }}">{{ p.name }}</a>
                {% else %}
                {{ p.name }}
                {% endif %}
                {% if p.online_id in ranks %}
                |
                <img src="/static/img/ranks/{{ (ranks[p.online_id]['8']|sort(attribute='mode'))[-1]['tier'] }}.png"
                     height="30px"/>
                {% endif %}
                {% if p.is_bot %}
                | <i>Bot</i>
                {% endif %}</td>
            <td>{{ p.score }}</td>
            <td>{{ p.goals }}</td>
            <td>{{ p.assists }}</td>
            <td>{{ p.saves }}</td>
            <td>{{ p.shots }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
    {% endfor %}
</div>
