{% from "macros/json.html" import jsonify %}
<script id="historyScript">
    (function () {
        console.log('executing function right?');
        requirejs(['match/matchHistoryLoader'], function (loader) {
            let matchHistory = function () {
                console.log('creating match list');
                let matches = document.getElementsByClassName("match");
                requirejs(['matchHistory'], function (matchHistory) {
                    matchHistory.addMatchHandler(matches);
                });
            };
            loader.setHistoryList(matchHistory);
        });
    })();
</script>
<section>
    <div class="container">
        <table class="mhtable">
            <thead>
            <tr class="header">
                {% set headers = ["Date", "Name", "Gamemode", "Score", "Outcome"] %}
                {% for header in headers %}
                    <th>{{ header }}
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for game in games|sort(attribute='game_object.match_date') %}
                {% set name = game.game_object.hash if game.game_object.name == None else game.game_object.name %}
                {% set replay = game.game_object %}
                {% set dropdown_id = 'drop_down' + game.game_object.hash %}
                {% set match_id = 'match_' + game.game_object.hash %}
                <tr class="match" id="{{ match_id }}">
                    <td>
                        <a href="{{ url_for('replays.view_replay', id_=game.game_object.hash) }}">{{ game.game_object.match_date.strftime('%Y-%m-%d') }}</a>
                    </td>
                    <td>
                        <a href="{{ url_for('replays.view_replay', id_=game.game_object.hash) }}">{{ name }}</a>
                    </td>
                    <td>{{ game.game_object.teamsize }}s</td>
                    <td><span style="color:blue">{{ game.game_object.team0score }}</span> - <span
                            style="color:orange">{{ game.game_object.team1score }}</span></td>
                    <td>{% if game.win %}Win{% else %}Loss{% endif %}</td>
                </tr>
                <tr class="dropdowndata" id="{{ dropdown_id }}">
                    <td colspan="5">
                        {# orange #}
                        {% set team_names = ['Blue', 'Orange'] %}
                        {% set team_members = ((replay.playergames|sort(attribute='score', reverse=False)))|sort(attribute='is_orange', reverse=False) %}
                        {% set graphs = ["score", "goals", "assists", "saves", "shots"] %}
                        {% set graph_length = graphs|length %}
                        {% set json_keys = ["player", "name", "is_orange"] + graphs %}
                        <script class="graphScript">
                            (function(host_id, action_element_id,  labels) {
                                requirejs(['match/matchHistoryLoader'], function (loader) {
                                    console.log('creating graph loader function');
                                    let matchLoader = function () {
                                        console.log('graph loader called');
                                        const replay_data = [{{jsonify(team_members, json_keys)}}];
                                        requirejs(['matchHistory'], function (matchHistory) {
                                            matchHistory.addAction(action_element_id, host_id, labels, replay_data);
                                        });
                                    };
                                    console.log('adding history callback');
                                    loader.setHistoryCallback(matchLoader);
                                });
                            })('{{ dropdown_id }}', '{{ match_id }}', {{ graphs|tojson }});
                        </script>
                        {% include "partials/replay/score_graph.html" %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>
