{% macro create_stats(charts, replay) -%}
<div class="stat-container">
    {% for chart in charts %}
    {% set pgs = replay.playergames|sort(attribute='is_orange') %}
    {% set chart_name = chart.data %}
    {% set data = pgs|map(attribute=chart_name)|list %}
    {% set type = chart.type %}
    {% set num_players = pgs|map(attribute='name')|list|length %}
    {% if num_players == 2 and type == 'radar' %}
        {% set type = 'bar' %}
    {% endif %}
    {{data|debug}}
    {% if data != None and data is defined and data|length > 0 %}
    {% if data[0] != None and (data|max != 0 or data|min != 0)  %}
    {% if data|max > 0 %}
    {% set start_at_zero = (data|max - data|min)/(data|max) > 0.2 %}{# we don't want uninteresting graphs #}
    {% else %}
    {% set start_at_zero = False %}
    {% endif %}
    <div class="chart-container valign-wrapper" id="{{ chart.data }}">
        <div class="container">
        <canvas id="canvas{{ chart.data }}"></canvas>
            <script>
                requirejs(['server', 'colors'], function (server, colors) {
                    var labels = {{ pgs|map(attribute='name')|list|tojson }};
                    var data = {
                        'labels': labels,
                        'datasets': [
                            {
                                label: 'Count',
                                data: {{ data|tojson }},
                                /*{% if type == 'radar' %}*/
                                    pointBackgroundColor: [
                                        /*{% for x in pgs %}*/
                                    colors.getHorizontalChartColor(
                                        {{ (loop.index0 % (pgs|length / 2))|int }}, {{ x.is_orange|tojson }}).backgroundColor,
                                /*{% endfor %}*/],
                                pointRadius: 5,
                                    pointHitRadius: 5,
                                backgroundColor: 'rgba(0, 0, 0, 0.2)',
                                /*{% else %}*/
                                backgroundColor: [
                                    /*{% for x in pgs %}*/
                                    colors.getHorizontalChartColor(
                                        {{ (loop.index0 % (pgs|length / 2))|int }}, {{ x.is_orange|tojson }}).backgroundColor,
                                    /*{% endfor %}*/],
                                /*{% endif %}*/
                            }
                        ]
                    }

                    var ctx = document.getElementById('canvas{{ chart.data }}').getContext('2d');
                    var myBar = new Chart(ctx, {
                        type: '{{ type }}',
                        data: data,
                        options: {
                            /*{% if type=='radar' and num_players == 6 %}*/
                            startAngle: 210,
                            /*{% endif %}*/
                            /*{% if type=='radar' and num_players == 4 %}*/
                            startAngle: 225,
                            /*{% endif %}*/
                            /*{% if type=='pie' and (num_players == 6 or num_players == 4 or num_players == 2) %}*/
                            rotation: (Math.PI/2),
                            /*{% endif %}*/
                            responsive: true,
                                legend: {
                                position: 'top',

                                /*{% if type != 'pie' %}*/
                                display: false
                                /*{% endif %}*/
                            },
                            title: {
                                display: true,
                                    text: '{{ chart.data|replace('_', ' ')|capitalize }}'
                            },
                           /*{% if False and start_at_zero and type == 'bar' %}*/
                            scales: {
                                yAxes:
                                    [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                            },
                            /*{% endif %}*/
                            /*{% if type == 'radar' %}*/
                            scale: {
                                ticks: {
                                    beginAtZero: true
                                }
                            },
                            /*{% endif %}*/

                        }
                    })
                });
            </script>
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
</div>
{%- endmacro %}
