{% if isAlpha() %}
{% set tab_list = tabs %}
{% elif isBeta() %}
{% set tab_list = tabs|rejectattr('mode', 'equalto', 'alpha')|list %}
{% else %}
{% set tab_list = tabs|rejectattr('mode', 'equalto', 'alpha')|rejectattr('mode', 'equalto', 'beta')|list %}
{% endif %}

{% if not tab_name is defined %}
{% set tab_name = 'main' %}
{% endif %}
{% if not temp_tab_name is defined %}
{% set temp_tab_name = [] %}
{% endif %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tabs.css') }}">
<style>
    .tabs-holder > input,
    .tabs-holder section > div {
        /* hide tabs by default */
        display: none;
    }
    /* Make tabs visible */
    {% for tab in tab_list %}
    #tab{{tab_name}}{{loop.index0}}:checked ~ section .tab{{tab_name}}{{loop.index0}}{% if not loop.last %},{%endif %}{% endfor %}
    {
        display: block;
    }

    /* Make tabs pretty on selected */
    {% for tab in tab_list %}
    #tab{{tab_name}}{{loop.index0}}:checked ~ div .tab{{tab_name}}{{loop.index0}} label{% if not loop.last %},{%endif %}{% endfor %}
    {
        background: var(--tabActiveColor);
        &:after {
             content: '';
             display: block;
             position: absolute;
             height: 2px;
             width: 100%;
             background: var(--tabActiveColor);
             left: 0;
             bottom: -1px;
        }
    }
</style>
<div class="tabs-holder">
    {% for tab in tab_list %}
        <input {% if loop.first %} checked="checked" {%endif %} id="tab{{tab_name}}{{loop.index0}}" type="radio" name="tab-selector{{tab_name}}">
    {% endfor %}
    <div>
        <ul>
            {% for tab in tab_list %}
            <li class="tab{{tab_name}}{{loop.index0}}">
                <label for="tab{{tab_name}}{{loop.index0}}">{{tab.header}}</label>
            </li>
            {% endfor %}
        </ul>
    </div>
    <section>
        {% for tab in tab_list %}
        <div class="tab{{tab_name}}{{loop.index0}}">
            <div class="tab-content">
                <!--{{ temp_tab_name.append(tab_name) }}-->
                {% include tab.location %}
                {% set tab_name = pop(temp_tab_name) %}
            </div>
        </div>
        {% endfor %}
    </section>
</div>
