{% for mode in rank %}

    {% set rp = mode['rank_points'] %}
    {% if rp != None %}
    <div class="panel">
        <div class="t1">
            {{ mode['mode']|title  }}
        </div>
        <div class="rankpic-holder">
            <img class="rankpic" src='{{ '/static/img/ranks/' + mode['tier']|string + '.png' }}'
                 alt="rank"/>
        </div>
        <div class="rank_info">
            <div>
                {% if rp > 0 %}
                    {{ mode['string']  }}
                {% endif %}
            </div>
            <div>
                {% if rp == 0 %}
                    API error
                {% else %}
                    rating: {{ mode['rank_points'] }}
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}
