.logo {
    padding-left: 10px;
    font-family: "Shrikhand";
    font-size: 50px;
}
.logo-small {
    font-family: "Fira Mono";
    font-size: 20px;
}

a {
    text-decoration: none;
}

.framebox {
    overflow: hidden;
    font-weight: 400;
    padding: 10px 30px 10px 20px;
    align-items: center;
    flex-wrap: nowrap;
    display: block;
    min-width: 120px;
    font-size: 15px;
    border: 1px solid #333;
}

.framebox:hover {
    background-color: #ddd;
}

.content {
    display: flex;
    flex-direction: row;
    margin: 0% 5%;
    margin-top: 10px;
}
