.graph-labels-container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.label-color {
    min-width: 30px;
    min-height: .5em;
    display: inline-block;
    border-style: solid;
}

.graph-name-container {
    display: flex;
    flex-direction: row;
}

.graph-holder {
    flex-basis: 90%;
}

.graph-name {
    flex-basis: 10%;
    max-width: 10%;
}
