html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Lato", "Fira Mono", monospace;
    font-weight: 300;
    -webkit-font-feature-settings: "lnum";
    -moz-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
    display: flex;
    background-image: url(/static/img/background/splash.png);
    background-size: cover;
}

.centerbox {
    background: white;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 2px #cccccc;
    display: flex;
    margin: 12% auto auto auto;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.searchblock {
    margin: auto;
}

.search {
    border-left: initial;
}

.logo {
    padding-left: 10px;
    font-family: "Shrikhand";
    font-size: 50px;
}

.logo-small {
    font-family: "Fira Mono";
    font-size: 20px;
}

.hotlinks {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    color: #333;
    text-decoration: none;
    margin: 0px 10px;
}

.in {
    margin: 0px 10px;
    padding: 5px;
}

.dot {
    padding: 0px 10px;
}

.framebox:hover {
    background-color: #ddd;
}

.example {

    margin-top: 10px;
}

.example > a {
    font-size: 1em;
    color: rgba(0, 0, 100, 0.5) !important;
}