html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Fira Mono", monospace;
    display: flex;
    background-image: url(/static/img/background/splash.png);
    background-size: cover;
}

.centerbox  {
    background: white;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 2px #cccccc;
    display: flex;
    margin: 12% auto auto auto;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.searchblock    {
    margin: auto;
}
.search {
    min-width: 300px;
    padding: 10px 15px;
    font-family: "Fira Mono", monospace;
    border: 0px;
    border-bottom:1px solid #ddd;
    color: #4b545f;
    text-align: center;
    font-size: 15px;
    outline: none;
}
.logo {
    padding-left: 10px;
    font-family: "Shrikhand";
    font-size: 50px;
}
.hotlinks {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
a {
    color: #333;
    text-decoration: none;
    margin: 0px 10px;
}
.in {
    margin: 0px 10px;
    padding: 5px;
}
.dot {
    padding: 0px 10px;
}

.framebox {
    overflow: hidden;
    padding: 10px 30px 10px 20px;
    align-items: center;
    flex-wrap: nowrap;
    display: block;
    min-width: 120px;
    font-size: 15px;
    border: 1px solid #333;
}

.framebox:hover {
    background-color: #ddd;
}
