body {
    margin: 0;
    font-family: "Fira Mono", monospace;
}

.content {
  display: flex;
  flex-direction: row;
  margin: 0% 10%;
  margin-top: 10px;
}
.sidebar {
  margin-top: 10px;
  padding-right: 20px;
  border-right: 1px solid #ddd;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.playerpanel {
  margin: 5px 0px;
  padding: 5px 0px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  display: flex;
}
.main {
  margin-top: 10px;
  padding-left: 20px;
  flex-grow: 8;
  display: flex;
  flex-direction: column;
}
.matchhistory {
  display: flex;
  margin: 5px 0px;
  padding: 5px 0px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
.mhtable {
  border-spacing: 0px;
  flex-grow: 1;
}
.match {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.active, .match:hover {
  background-color: rgb(228, 245, 255);
}
tr.dropdowndata {
    display: none;
    overflow: hidden;
    transition: display 0.2s ease-out;
}
tr.dropdowndata.show {
  display: table-row;
}


tr.win {
  background-color: rgb(228, 245, 255);
}
tr.loss {
  background-color: white;
}
td {
  text-align: center;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 8px;
}
td.team {
  font-weight: bold;
}
th {
  padding: 8px
}
.rankpanel {
  margin: 5px 0px;
  padding: 5px 0px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  display: flex;
}
.statpanel {
  margin: 5px 0px;
  padding: 5px 0px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.statpanelnoborders {
  margin: 5px 0px;
  display: flex;
  flex-direction: row;
}
.stat {
  display: flex;
  margin-left: auto;
  flex-direction: column;
}
.right {
  margin-left: auto;
}
.carname {
  display: block;
  word-wrap: break-word;
  padding: 5px;
  margin: 0px 3px;
  text-align: center;
  border-top: 1px solid rgb(70, 70, 70);
  border-bottom: 1px solid rgb(70, 70, 70);
  background-color: rgb(252, 252, 220);
  margin-bottom: 5px;
}
.verticalcarstat {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin: 0px 3px;
}
.verticalcaricon {
  width: 50px;
  height: 50px;
  margin: 5px;
}
.pctg {
  padding: 5px;
  text-align: center;
  border-top: 1px solid rgb(70, 70, 70);
  border-bottom: 1px solid rgb(70, 70, 70);
  background-color: rgb(213, 248, 213);
}
.pctgfull {
  padding: 5px;
  text-align: center;
  border: 1px solid rgb(70, 70, 70);
  background-color: rgb(213, 248, 213);

}
.errmsg {
  text-align: center;
  margin: 50px auto;
  padding: 2% 10%;
  border: 1px solid #ddd;
}
.panel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.avatar {
  max-width: 100px;
  max-height: 100px;
}
.rankpic {
  max-width: 150px;
  max-height: 150px;
  align-self: center;
}
.info {
  background-color: white;
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  flex-direction: column;
}
.detail {
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  list-style: none;
}
.detail2 {
  font-size: .8em;
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  list-style: none;
}
.cat {
  padding-right: 8px;
  color: rgb(10, 6, 73);
}
.t1 {
  font-size: 1.5em;
}
.t2 {
  margin-left: 10px;
  font-size: 1.2em;
  color: rgb(73, 73, 73);
}
.t3 {
  font-size: 1.2em;
  color: rgb(73, 73, 73);
}
ul, li {
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0;
}

.team.orange h4::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 25%;
  bottom: 0;
  right: -25%;
  border-width: 2px;
  border-style: solid;
  /* border-color: #25fdf7cc #c73d3d #ffdba8; */
  background-color: #ffdba8;
  transform: skew(-50deg, 0deg);
}

.team.orange h4::before {
  content: "";
  position: absolute;
  width: 4%;
  height: 25%;
  bottom: 0;
  right: 27%;
  border-width: 2px;
  border-style: solid;
  /* border-color: #25fdf7cc #c73d3d #ffdba8; */
  background-color: #ffdba8;
  transform: skew(-50deg, 0deg);
}

.team.blue h4::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 25%;
  top: 0;
  left: -25%;
  border-width: 2px;
  border-style: solid;
  border-color: #000000;
  background-color: #b2b2ff;
  transform: skew(-50deg, 0deg);
}

.team.blue h4::before {
  content: "";
  position: absolute;
  width: 4%;
  height: 25%;
  top: 0;
  left: 27%;
  border-width: 2px;
  border-style: solid;
  border-color: #000000;
  /* border-color: #25fdf7cc #c73d3d #ffdba8; */
  background-color: #b2b2ff;
  transform: skew(-50deg, 0deg);
}

.team.blue h4 {
  margin-top: 0;
}

.team.orange h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.team {
  position: relative;
}
