{% include 'header.html' %}
<body>
<div class="container">
    <h2>Submit new config file</h2>
    <p>Config file will be set on reboot of clients.</p>
    <form action='{{ url_for('set_config') }}' method='POST' enctype='multipart/form-data'>
        <input type='file' name='file'/>
        <input type='submit' name='submit'/>
    </form>
    <hr/>
    <h2>Models</h2>
    <table class="table">
        <thead>
        <th>model_hash</th>
        <th>model_short</th>
        <th>model_type</th>
        <th>model_size</th>
        <th>total_reward</th>
        <th>evaluated</th>
        <th>Link</th>
        <th>Delete</th>
        </thead>
        <tbody>
        {% for model in models %}
            <tr>
                <td>{{ model.model_hash }}</td>
                <td>{{ model.model_hash[:8] }}</td>
                <td>{{ model.model_type }}</td>
                <td>{{ model.model_size }}</td>
                <td>{{ model.total_reward }}</td>
                <td>{{ model.evaluated }}</td>
                <td><a href="{{ url_for('get_model', hash=model.model_hash) }}">Download</a></td>
                <td><a href="{{ url_for('delete_model', h=model.model_hash) }}">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form action='{{ url_for('upload_model') }}' method='POST' enctype='multipart/form-data'>
        <input type='file' name='file'/>
        <input type='submit' name='submit'/>
    </form>
    <div id="uploads-hour"></div>
    <div id="uploads-day"></div>
</div>
<script src="/static/admin.js"></script>
{% include "footer.html" %}