{% include 'header.html' %}
<div class="container">
    <h1>Admin Interface</h1>
    <h2>Submit new config file</h2>
    <p>Config file will be set on reboot of clients.</p>
    <form action='/config/set' method='POST' enctype='multipart/form-data'>
        <input type='file' name='file'/>
        <input type='submit' name='submit'/>
    </form>
    <hr/>
    <h2>Submit new model</h2>
    <p>Model will be set on reboot of clients.</p>
    <form action='/model/set' method='POST' enctype='multipart/form-data'>
        <input type='file' name='file'/>
        <input type='submit' name='submit'/>
    </form>
</div>
{% include 'footer.html' %}