{% include "partials/header.html" %}

<div class="container">
    <h2>Saltie Replay API</h2>
    <p>For an API key, please ask a developer in the <a href="https://discord.gg/aCHWD3E">Discord server</a>.</p>
    <p>Registration and login coming soon.</p>
    <h3>Docs</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Endpoint</th>
            <th>Description</th>
            <th>Args (optional)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                {% set url = url_for('apiv1.api_v1_get_replays') %}
                <a href="{{ url }}">{{ url }}</a>
            </td>
            <td>
                Gets a list of replays in the database. Can be filtered.
            </td>
            <td>
                <ul>
                    <li>
                        <b><code>minrank</code>/<code>maxrank</code></b> - minimum / maximum rank limits to set.
                        Integer, find ids from <code>{{ url_for('apiv1.api_v1_get_ranks') }}</code>
                    </li>
                    <li>
                        <b><code>minmmr</code>/<code>maxmmr</code></b> - minimum / maximum MMR limits to set.
                        Integer
                    </li>
                    <li>
                        <b><code>user</code></b> - User (SteamID64) to filter by.
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {% set url = url_for('apiv1.api_v1_get_replay_info', id_=':replayid') %}
                <a href="{{ url }}">{{ url }}</a>
            </td>
            <td>
                Gets information on a given replay given by <b><code>replayid</code></b>.
            </td>
            <td>
                N/A
            </td>
        </tr>
        <tr>
            <td>
                {% set url = url_for('apiv1.api_v1_get_stats') %}
                <a href="{{ url }}">{{ url }}</a>
            </td>
            <td>
                Gets some stats.
            </td>
            <td>
                N/A
            </td>
        </tr>
        <tr>
            <td>
                {% set url = url_for('apiv1.api_v1_list_parsed_replays') %}
                <a href="{{ url }}">{{ url }}</a>
            </td>
            <td>
                List filenames for all parsed replays. These files are in pickled format parsed using our library (on <a
                    href="https://github.com/SaltieRL/ReplayAnalysis">GitHub</a>)
            </td>
            <td>
                N/A
            </td>
        </tr>
        <tr>
            <td>
                {% set url = url_for('apiv1.api_v1_download_parsed', fn=':filename') %}
                <a href="{{ url }}">{{ url }}</a>
            </td>
            <td>
                Download a parsed replay by filename (from <code>{{ url_for('apiv1.api_v1_list_parsed_replays') }}</code>)
                given by <b><code>filename</code></b>.
            </td>
            <td>
                N/A
            </td>
        </tr>
        <tr>
            <td>
                {% set url = url_for('apiv1.api_v1_get_rank', id_=':steamid') %}
                <a href="{{ url }}">{{ url }}</a>
            </td>
            <td>
                Get rank information for a given <b><code>steamid</code></b>.
            </td>
            <td>
                N/A
            </td>
        </tr>
        </tbody>
    </table>
</div>

{% include "partials/footer.html" %}