{% extends 'partials/base.html' %}
{% block imports %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='player.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fixed_header.css') }}">
    {% include "partials/imports/graph.html" %}
{% endblock imports %}
{% block title %}
    Upload Successful!
{% endblock title %}
{% block body %}

<div class="main">
    <h3>Thank you for your submission!</h3>
    <p>
        <span>Replays uploaded: {{game_count}}</span> 
    </p>
</div>
{% endblock body %}