{% include 'header.html' %}
<style>
    /* Move down content because we have a fixed navbar that is 3.5rem tall */
    body {
        padding-top: 6.5rem;
    }
</style>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Saltie</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://discord.gg/aCHWD3E"><i class="fab fa-discord"></i> <span class="sr-only">Discord</span></a>
            </li>
        </ul>
    </div>
</nav>
<main role="main">
    <div class="container">
        <h1>Saltie Reinforcement Learning Bot</h1>
        <h2>Statistics</h2>
        <table class="table">
            <thead>
            <th>Rank</th>
            <th>Name</th>
            <th>Count</th>
            </thead>
            <tbody>

            {% for block in stats %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ block[2] }}</td>
                    <td>{{ block[1] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p><b>Total replays:</b> {{ total }}</p>
        {% set hours = (total * 5/60.0) %}
        <p><b>Hours of replays:</b> {{ hours|round(2, 'floor') }}</p>
        <p><b>Hour goal:</b> {{ hours|round }}/{{ hours - (hours % 1000) + 1000 }}</p>
        <h3>Model Statistics</h3>
        <table class="table">
            <thead>
            <th>Rank</th>
            <th>Hash</th>
            <th>Name</th>
            <th>Reward</th>
            <th>Count</th>
            </thead>
            <tbody>

            {% for block in model_stats %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ block[0] }}</td>
                <td>{{ block[1] }}</td>
                <td>{{ block[2] }}</td>
                <td>{{ block[3] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {#    <h2>Upload new File</h2>#}
        {#    <form method=post enctype=multipart/form-data>#}
        {#        <p><input type=file name=file>#}
        {#            <input type=submit value=Upload>#}
        {#    </form>#}
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>

</body>
</html>