<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>saltie</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono|Lilita+One|Shrikhand" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="centerbox">
      <div class="logo">
        saltie
      </div>
      <div class="searchblock">
        <form action='{{ url_for('steam.resolve_steam') }}' enctype='multipart/form-data' method="post">
          <input name=name type="text" class="search" placeholder="enter steamID or username" required>
        </form>
      </div>
      <div class="hotlinks">
        <a href = "#"><in>about</in></a>
        <div class="dot">·</div>
        <a href="https://github.com/SaltieRL/DistributedReplays"><in>github</in></a>
        <div class="dot">·</div>
        <a href = "#"><in>support</in></a>
      </div>
        <div class="hotlinks">
            <a href = "{{ url_for('replays.replay_stats') }}"><div class="framebox">global stats</div></a>
            <a class="nav-link" href = "{{ url_for('replays.replays_home') }}"><div class="framebox">upload replay</div></a>
        </div>
        <div class="hotlinks">
            <span>{{ game_count }} replays and counting...</span>
        </div>
    </div>
  </body>
</html>