{% extends 'partials/base.html' %}

{% set player = profile['response']['players'][0] %}
{% block title %}Player Info{% endblock title %}
{% block imports %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='player.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fixed_header.css') }}">
    {% include "partials/imports/graph.html" %}
{% endblock imports %}
{% block body %}
<div class="sidebar">
    / profile information
    <div class="playerpanel">
        {% if player %}
        {% include "partials/player/profile.html" %}
        {% endif %}
    </div>
    / player stats
    {% include "partials/player/stats.html" %}
</div>
<div class="main">
    / rank information
    <div class="rankpanel">
        {% if rank %}
        {% include "partials/player/ranks.html" %}
        {% else %}
            <div class="errmsg">
                unable to find rank information for this profile (does this player own rocket league?)
            </div>
        {% endif %}
    </div>
    / match history
    <div class="matchhistory">
        {% if games %}
            {% include "partials/replay/match_history.html" %}
        {% else %}
            <div class="errmsg">
                no matches recorded for this profile (are you using the auto-uploader?)
            </div>
        {% endif %}
    </div>
</div>
{% endblock body %}
