{% extends 'partials/base.html' %}

{% set player = profile['response']['players'][0] %}
{% block title %}Player Info{% endblock title %}
{% block imports %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='player.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fixed_header.css') }}">
{% include "partials/imports/graph.html" %}
{% endblock imports %}
{% block body %}
    <div class="sidebar">
        <span class="header">/ profile information</span>
        <div class="playerpanel">
            {% if player %}
                {% include "partials/player/profile.html" %}
            {% endif %}
        </div>
        <span class="header">/ player stats</span>
        {% include "partials/player/stats.html" %}
        <form action="{{ url_for('players.compare_player_redir', id_=id) }}" method="post">
            <input type="text" name="other" placeholder="Compare other user"/>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="main">
        <span class="header">/ rank information</span>
        <div class="rankpanel">
            {% if rank %}
                {% include "partials/player/ranks.html" %}
            {% else %}
                <div class="errmsg">
                    unable to find rank information for this profile (does this player own rocket league?)
                </div>
            {% endif %}
        </div>
        <span class="header">/ tendencies</span>
        <div class="chartpanel">
            {% set min_replays = 1 %}
            {% if total_games > min_replays %}
                {% include "partials/player/spider_charts.html" %}
            {% else %}
            <div class="errmsg">
                no replays recorded for this profile (are you using the auto-uploader?)
            </div>
            {% endif %}
        </div>
        <span class="header">/ match history<span>&nbsp;&nbsp;</span>
        {% if total_games > game_per_page %}
            <span id="prevpage" class="pure-button button-xsmall"><i class="icono-caretLeft clickable"></i></span>
            <span id="nextpage" class="pure-button button-xsmall"><i class="icono-caretRight clickable"></i></span>
        {% endif %}
        </span>
        <div class="matchhistory">
            {% if games %}
                {% set max_pages=total_games/game_per_page %}
                {% include "partials/replay/match_history.html" %}
                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        console.log('adding history loader');
                        requirejs(['match/matchHistoryLoader'], function (loader) {
                            console.log('creating history loader');
                            loader.initializeMatchHistory('{{ id }}', {{ max_pages }});
                        })
                    });
                </script>
            {% else %}
                <div class="errmsg">
                    no matches recorded for this profile (are you using the auto-uploader?)
                </div>
            {% endif %}
        </div>
    </div>
{% endblock body %}
