{% extends 'partials/base.html' %}
{% from "macros/json.html" import jsonify %}


{#{% set frame_count = replay.api_game.frames %}#}

{% block title %}
    {% if replay != None %}
        {{ replay.name }} - {{ replay.team0score }}:{{ replay.team1score }}
    {% else %}
        Loading...
    {% endif %}
{% endblock title %}
{% block imports %}
    {% include "partials/imports/viewer.html" %}
    {% include "partials/imports/graph.html" %}
    {% include "partials/imports/require.html" %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='replay.css') }}">
{% endblock imports %}
{% block body %}
    {% if replay == None %}
        Parsing... please wait a few minutes.
        <p class="download"><a href="{{ url_for('replays.download_replay', id_=id + '.replay') }}">Download</a></p>
        {# Include refresh script here #}
        <script>
            setTimeout(function () {
                location.reload();
            }, 10000)
        </script>
    {% elif replay != None %}
    {% set team_members = ((replay.playergames|sort(attribute='score', reverse=False)))|sort(attribute='is_orange', reverse=False) %}
        <div style="flex: 1 0 auto">
            {#            <p><a href="{{ url_for('view_random') }}">Random</a></p>#}
            <h2>{{ replay.name|e }}</h2>
            <p><a href="{{ url_for('replays.download_replay', id_=id + '.replay') }}">Download</a></p>
            <div class="replay-header">
                <div class="player-box">
                    <!-- Player box -->
                    {% include "partials/replay/players.html" %}
                </div>
                <div class="score-box">

                    <!-- SCORE BOX -->
                    <div id="scoreBox">
                        {% set team_names = ['Blue', 'Orange'] %}

                        {% set graphs = ["score", "goals", "assists", "saves", "shots"] %}
                        {% set graph_length = graphs|length %}
                        {% set json_keys = ["player", "name", "is_orange"] + graphs %}
                        <script>
                            (function (hostId, labels) {
                                document.addEventListener("DOMContentLoaded", function () {
                                    const replayData = [{{ jsonify(team_members, json_keys) }}];
                                    requirejs(['overallReplayGraph'], function (replayGraphs) {
                                        replayGraphs.showOverallReplayGraphs(hostId, '.graph-list-container', labels, replayData);
                                    });
                                });
                            })('scoreBox', {{ graphs|tojson }});
                        </script>
                        {% include "partials/replay/score_graph.html" %}
                    </div>
                </div>
            </div>
            <p>Map: {{ replay.map }}</p>
            {#        <p>Version: {{ replay.api_game.replay_version }}</p>#}
            {#        <p>Time: {{ replay.api_game.datetime }}</p>#}
{#            <p>Frames: {{ frame_count }}</p>#}
{#            <p>Score: {{ replay.teams[0].score }}:{{ replay.api_game.teams[1].score }}</p>#}
            <p><a href="{{ url_for('apiv1.api_v1_get_replay_info', id_=id, key=1234) }}">API</a></p>

            <!-- VIEWER -->
            {% include "partials/replay/viewer.html" %}
            <hr/>
{#            <div>#}
{#                <b>Goals:</b>#}
{#                <table class="table">#}
{#                    {% for goal in replay.goals %}#}
{#                        <tr style="{{ "color: white;" if not goal.player_team else "" }}background: {{ "#e66f33" if goal.player_team else "#0000aa" }}">#}
{#                            <td>Player: {{ goal.player_name }}</td>#}
{#                            <td>Frame: {{ goal.frame_number }}</td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
{#                </table>#}
{#            </div>#}
            <hr/>
            <div>
            </div>
        </div>
    {% endif %}
{% endblock body %}
