{% extends 'partials/base.html' %}

{% block title %}Player Info{% endblock title %}
{% block imports %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='player.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<style>
    canvas {
        margin-bottom: 50px;
    }
</style>
{% endblock imports %}
{% block body %}
<div class="main">
    / distributions
    <h5>Click legend items to toggle</h5>
    {% set graphs=['Score', 'Goals', 'Assists', 'Saves', 'Shots', 'Hits', 'Turnovers', 'Passes', 'Dribbles', 'Assists per Hit', 'Shots per Hit', 'Turnovers per Hit', 'Dribbles per Hit'] %}
    {% set fields=['score', 'goals', 'assists', 'saves', 'shots', 'total_hits', 'turnovers', 'total_passes', 'total_dribbles', 'assistsph', 'savesph', 'shotsph', 'turnoversph', 'total_dribblesph'] %}
    {% set graph_length = graphs|length %}
    <div id="graphs" class="graph-list-container" style="position:relative;">
        {% for graph in graphs %}
        <div style="position:relative; height={{ 90/graph_length }}%; width:100%;" class="graph-name-container">
{#            <div class="button_container">#}
{#                <button class="update-graph" data-mode="1">1s</button>#}
{#                <button class="update-graph" data-mode="2">2s</button>#}
{#                <button class="update-graph" data-mode="3">3s</button>#}
{#            </div>#}
            <div class="graph-holder {{graph}}" data-field="{{fields[loop.index0]}}" data-name="{{graph}}">
                <canvas></canvas>
            </div>
        </div>
        {% endfor %}
    </div>
    <script>
        requirejs(['server', 'colors'], function (server, colors) {
            let histData;
            let graphs = document.getElementById("graphs").querySelectorAll('.graph-holder');
            let charts = [];
            let defaultMode = 3;
            let color_list = colors.getChartColors(3);
            function updateGraphs(mode) {
                graphs.forEach(function (element, index) {
                    updateGraph(element, index, mode);
                });
            }

            function updateGraph(element, index, mode) {
                let category = element.getAttribute('data-field');
                let categoryHistogram = histData[category];
                if (typeof categoryHistogram !== 'undefined') {
                    {#console.log('recreating graph', mode);#}
                    generateGraph(categoryHistogram, category, index, mode);
                }
            }

            function generateGraph(categoryHistogram, category, index, gamemode) {
                let labels = categoryHistogram[2]['keys']
                labels.sort((a, b) => Number(a) - Number(b));
                if (category.startsWith('a_')) {
                    categoryHistogram[0] = 0
                }
                let ds = [];
                for (let x = 1; x < 4; x++) {
                    ds.push({
                        label: x + 's',
                        data: Object.values(categoryHistogram[x]['values']),
                        backgroundColor: color_list[(x) % color_list.length]
                    })
                }
                charts[index].data = {
                    'labels': labels,
                    'datasets': ds
                };
                charts[index].update();
                {#console.log(charts[index].data);#}
            }

            server.asyncJsonGet('/replays/stats/all', function (data) {
                histData = data;
                graphs.forEach((graph, index) => {
                    let category = graph.getAttribute('data-field');
                    let name = graph.getAttribute('data-name');
                    let obj = histData[category];
                    let canvas = graph.querySelector('canvas');
                    let ctx = canvas.getContext('2d');
                    let cat = 1.0;
                    let bar = (['score', 'a_hits'].indexOf(category) >= 0) ? (1 + (Object.keys(obj).length / 800.0)) : 1.03;
                    let myBar = new Chart(ctx, getOptions(cat, bar, name));
                    charts.push(myBar);

                    let nodes = graph.parentNode.querySelectorAll('.update-graph');

                    nodes.forEach((button) => {
                        let graphIndex = index;
                        let currentGraph = graph;
                        button.addEventListener('click', function(evt) {
                            updateGraph(currentGraph, graphIndex, this.getAttribute('data-mode'));
                        });
                    });
                });
                updateGraphs(defaultMode);
            });

            function getOptions(cat, bar, name) {
                return {
                    type: 'bar',
                    data: [],
                    options: {
                        responsive: true,
                        scales: {
                            xAxes: [
                                {
                                    categoryPercentage: cat,
                                    // This is required for the bars to 'touch' each other to
                                    // look more like bins in a histogram
                                    barPercentage: bar,
                                    scaleLabel: {
                                        display: true,
                                        labelString: name
                                    },
                                    stacked: true,
                                },
                                {
                                    display: false,
                                    stacked: true,
                                    id: "bar-x-axis2",
                                    // these are needed because the bar controller defaults set only the first x axis properties
                                    type: 'category',
                                    categoryPercentage: cat,
                                    // This is required for the bars to 'touch' each other to
                                    // look more like bins in a histogram
                                    barPercentage: bar,
                                    gridLines: {
                                        offsetGridLines: true
                                    }
                                }, {
                                    display: false,
                                    stacked: true,
                                    id: "bar-x-axis3",
                                    // these are needed because the bar controller defaults set only the first x axis properties
                                    type: 'category',
                                    categoryPercentage: cat,
                                    // This is required for the bars to 'touch' each other to
                                    // look more like bins in a histogram
                                    barPercentage: bar,
                                    gridLines: {
                                        offsetGridLines: true
                                    }
                                }],

                            yAxes: [{
                                stacked: false,
                                ticks: {
                                    beginAtZero: true
                                },
                            }]
                        },
                        title: {
                            display: true,
                            text: name + ' per Player per Game'
                        }
                    }
                }
            }
        });
    </script>
    <canvas id="canvas99"></canvas>
    <script>
        requirejs(['server', 'colors'], function (server, colors) {
            let obj = server.jsonGet('/replays/stats/cars');
            console.log(obj);
            let concise = true;
            if (concise) {
                obj = obj.slice(0, 10);
            }
            console.log(obj);
            let labels = obj.map(x => x[0]);
            var data = {
                'labels': labels,
                'datasets': [
                    {
                        label: 'Count',
                        data: obj.map(x => x[1]),
                        backgroundColor: colors.getChartColors(1)[0]
                    }
                ]
            };
            var ctx = document.getElementById('canvas99').getContext('2d');
            var myBar = new Chart(ctx, {
                type: 'bar',
                data: data,
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Most Used Cars'
                    }
                }
            });
        });
    </script>
    <canvas id="canvas999"> {# Don't judge me, it's a proof of concept #}

    </canvas>
    <script>
        requirejs(['server', 'colors'], function (server, colors) {
            var obj = server.jsonGet('/replays/stats/cars');
            obj = obj.slice(9);
            let labels = obj.map(x => x[0]);
            var data = {
                'labels': labels,
                'datasets': [
                    {
                        label: 'Count',
                        data: obj.map(x => x[1]),
                        backgroundColor: colors.getChartColors(1)[0]
                    }
                ]
            };
            var ctx = document.getElementById('canvas999').getContext('2d');
            var myBar = new Chart(ctx, {
                type: 'bar',
                data: data,
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Most Used Cars (minus top 9)'
                    }
                }
            });
        });
    </script>
</div>
{% endblock body %}
