{% extends 'partials/base.html' %}

{% block title %}Player Info{% endblock title %}
{% block imports %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='player.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<style>
    canvas {
        margin-bottom: 50px;
    }
</style>
{% endblock imports %}
{% block body %}
<div class="main">
    / distributions
    <div class="container">
        <button class="update-graph" data-mode="1">1s</button>
        <button class="update-graph" data-mode="2">2s</button>
        <button class="update-graph" data-mode="3">3s</button>
    </div>
    <canvas id="canvas1"></canvas>
    <canvas id="canvas2">

    </canvas>
    <canvas id="canvas3">

    </canvas>
    <canvas id="canvas4">

    </canvas>
    <canvas id="canvas5">
    </canvas>
    <canvas id="canvas6">
    </canvas>
    <canvas id="canvas7">
    </canvas>
    <canvas id="canvas8">
    </canvas>
    <canvas id="canvas9">
    </canvas>
    <script>
        requirejs(['server', 'colors'], function (server, colors) {
            let hist_data;
            let categories = ['score', 'goals', 'assists', 'saves', 'shots', 'a_hits', 'a_turnovers', 'a_passes', 'a_dribbles'];
            let names = ['Score', 'Goals', 'Assists', 'Saves', 'Shots', 'Hits', 'Turnovers', 'Passes', 'Dribbles'];
            let charts = [];
            let mode = 3;
            function updateGraphs() {
                categories.forEach(function (c, i) {
                    generateGraph(hist_data, i, mode);
                });
            }

            function generateGraph(obj, i, gamemode) {
                let color_list = colors.getChartColors(3);
                var c = categories[i];
                obj = obj[c];
                var labels = Object.keys(obj[2]).map(x => parseInt(x));
                if (c.startsWith('a_')) {
                    obj[0] = 0
                }
                ds = [];
                for (let x = 1; x < 4; x++) {
                    ds.push({
                        label: x + 's',
                        data: Object.values(obj[x]),
                        backgroundColor: color_list[(i + x) % color_list.length]
                    })
                }
                charts[i].data = {
                    'labels': labels,
                    'datasets': ds
                };
                charts[i].update();
                console.log(charts[i].data);
            }



            server.asyncJsonGet('/replays/stats/all', function (data) {
                hist_data = data;
                categories.forEach(function (c, i) {
                    let obj = hist_data[c];
                    var canvas_id = 'canvas' + (i + 1).toString();
                    console.log('canvas id', canvas_id);
                    var e = document.getElementById(canvas_id);
                    var ctx = e.getContext('2d');
                    cat = 1.0;
                    bar = (['score', 'a_hits'].indexOf(c) >= 0) ? (1 + (Object.keys(obj).length / 800.0)) : 1.03;
                    var myBar = new Chart(ctx, {
                        type: 'bar',
                        data: [],
                        options: {
                            responsive: true,
                            scales: {
                                xAxes: [
                                    {
                                        categoryPercentage: cat,
                                        // This is required for the bars to 'touch' each other to
                                        // look more like bins in a histogram
                                        barPercentage: bar,
                                        scaleLabel: {
                                            display: true,
                                            labelString: names[i]
                                        },
                                        stacked: true,
                                    },
                                    {
                                        display: false,
                                        stacked: true,
                                        id: "bar-x-axis2",
                                        // these are needed because the bar controller defaults set only the first x axis properties
                                        type: 'category',
                                        categoryPercentage: cat,
                                        // This is required for the bars to 'touch' each other to
                                        // look more like bins in a histogram
                                        barPercentage: bar,
                                        gridLines: {
                                            offsetGridLines: true
                                        }
                                    }, {
                                        display: false,
                                        stacked: true,
                                        id: "bar-x-axis3",
                                        // these are needed because the bar controller defaults set only the first x axis properties
                                        type: 'category',
                                        categoryPercentage: cat,
                                        // This is required for the bars to 'touch' each other to
                                        // look more like bins in a histogram
                                        barPercentage: bar,
                                        gridLines: {
                                            offsetGridLines: true
                                        }
                                    }],

                                yAxes: [{
                                    stacked: false,
                                    ticks: {
                                        beginAtZero: true
                                    },
                                }]
                            },
                            title: {
                                display: true,
                                text: names[i] + ' per Game'
                            }
                        }
                    });
                    charts.push(myBar);
                    generateGraph(hist_data, i, mode)
                });
            });
        });
    </script>
    <canvas id="canvas99"></canvas>
    <script>
        requirejs(['server', 'colors'], function (server, colors) {
            let obj = server.jsonGet('/replays/stats/cars');
            let concise = true;
            if (concise) {
                obj = obj.slice(0, 10);
            }
            console.log(obj);
            let labels = obj.map(x => x[0]);
            var data = {
                'labels': labels,
                'datasets': [
                    {
                        label: 'Count',
                        data: data,
                        backgroundColor: "#6c5ce7"
                    }
                ]
            };
            var ctx = document.getElementById('canvas99').getContext('2d');
            var myBar = new Chart(ctx, {
                type: 'bar',
                data: data,
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Most Used Cars'
                    }
                }
            });
        });
    </script>
    <canvas id="canvas999"> {# Don't judge me, it's a proof of concept #}

    </canvas>
    <script>
        requirejs(['server', 'colors'], function (server, colors) {
            var obj = server.jsonGet('/replays/stats/cars');
            let labels = obj.map(x => x[0]);
            var data = {
                'labels': labels,
                'datasets': [
                    {
                        label: 'Count',
                        data: data,
                        backgroundColor: "#6c5ce7"
                    }
                ]
            };
            var ctx = document.getElementById('canvas999').getContext('2d');
            var myBar = new Chart(ctx, {
                type: 'bar',
                data: data,
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Full Most Used Cars'
                    }
                }
            });
        });
    </script>
</div>
{% endblock body %}
