{% extends "partials/base.html" %}

{% block body %}
<p>Made by:
<ul>
    <li><a href="https://steamcommunity.com/id/Sciguymjm">Sciguymjm</a></li>
    <li><a href="https://steamcommunity.com/id/dtracers">dtracers</a></li>
    <li><a href="https://steamcommunity.com/id/twobackfromtheend">twobackfromtheend</a></li>
    <li><a href="https://steamcommunity.com/id/jb44">jb_</a></li>
    <li><a href="https://steamcommunity.com/id/theblocks_">Redox</a></li>
    <li><a href="https://steamcommunity.com/id/alpacaflightsim">AlpacaFlightSim</a></li>
</ul></p>

{% endblock body %}