{% extends 'partials/base.html' %}

{% block title %}Player Info{% endblock title %}
{% block imports %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='player.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fixed_header.css') }}">
    {% include "partials/imports/graph.html" %}
{% endblock imports %}
{% block body %}
    <div class="sidebar">
        <div class="header_holder">
            <span class="header">/ Comparing</span>
        </div>
        {% for p in users %}
            {% set player = p['steam_profile']['response']['players'][0] %}
            {% include "partials/player/sidebar/profile.html" %}
        {% endfor %}
    </div>
    <div class="main">
        <div class="header_holder">
            <span class="header">/ Tendencies</span>
        </div>
        <div class="rankpanel" style="max-width: 400px;">
            {% include "partials/player/content/spider_charts.html" %}
        </div>
        <div class="header_holder">
            <span class="header">/ Match History<span>&nbsp;&nbsp;</span></span>
        </div>
        <div class="matchhistory">
            {% if games %}
                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        console.log('adding history loader');
                        requirejs(['match/matchHistoryLoader'], function (loader) {
                            console.log('creating history loader');
                            loader.initializeMatchHistory('{{ id }}', {{ max_pages }});
                        })
                    });
                </script>
                {% include "partials/player/content/match_history.html" %}
            {% else %}
                <div class="errmsg">
                    No matches are shared between these players.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock body %}
