<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>calculated</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono|Lilita+One|Shrikhand" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://icono-49d6.kxcdn.com/icono.min.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/icons/calculated-icon.png') }}">

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems, {
                hover: true
            });
        });
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.tooltipped');
            var instances = M.Tooltip.init(elems, {});
        });
    </script>
</head>
<body>
<div class="valign-wrapper row">
    <div class="homepage">
        <div>
            <div class="logo">
                <img src="{{ url_for('static', filename='img/logos/calculated-logo.png') }}" width="447px"/>
                <br/>
                <p class="logo-caption center-align">
                    <i>{{ game_count }} replays and counting...</i>
                </p>
            </div>

            <div class="mdc-card" id="search">
                <div class="">
                    {% if g.user %}
                        <div class="col s1" id="user">
                            <a class="dropdown-trigger waves-effect black-text z-depth-0" data-target='dropdown1'
                               href="{{ url_for('players.view_player', id_=g.user.platformid) }}">
                                <img style="border-radius: 1px" src="{{ g.user.avatar }}" width="40px">
                            </a>
                            <ul id='dropdown1' class='dropdown-content'>
                                <li><a href="{{ url_for('players.view_player', id_=g.user.platformid) }}">Profile</a>
                                </li>
                                <li><a href="#!">Settings</a></li>
                                <li>
                                    <a href="{{ url_for('auth.logout') }}">
                                        <span>Logout</span>
                                    </a>
                                </li>
                                {#                                <li class="divider" tabindex="-1"></li>#}
                            </ul>

                        </div>
                    {% endif %}
                    <div class="col {% if g.user %}s11{% else %}s12{% endif %}">
                        <form class="search-form" action="{{ url_for('steam.resolve_steam') }}"
                              enctype='multipart/form-data'
                              method="post">
                            <input id="search-input" name="name" type="text" class="search-input"
                                   placeholder="Enter a steamID or username" required>
                            <button class="search-button mdc-icon-button" tabindex="0" type="submit"
                                    aria-label="Search">
                                <i class="search-icon material-icons">search</i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="links">
            {% if not g.user %}
                <a class="waves-effect white btn black-text z-depth-0" href="{{ url_for('auth.steam_auth') }}">
                    <i class="fab fa-steam button-icon left "></i>
                    Log in with Steam
                </a>
            {% endif %}
            <a class="waves-effect white btn black-text z-depth-0" href="{{ url_for('replays.upload') }}">
                <i class="material-icons left button-icon">cloud_upload</i>
                Upload Replay
            </a>
        </div>
        <div class="links container section" id="icons">
            <a title="Global Stats" data-position="left" data-tooltip="Global Stats" class="waves-effect tooltipped pulse" href="{{ url_for('replays.replay_stats') }}">
                <i class="far fa-chart-bar material-icons button-icon"></i>
            </a>
            <a title="About" data-position="bottom" data-tooltip="About" class="waves-effect tooltipped" href="#">
                <i class="fas fa-info-circle material-icons button-icon"></i>
                {#                About#}
            </a>
            <a title="GitHub" data-position="bottom" data-tooltip="GitHub" class="waves-effect tooltipped" href="https://github.com/SaltieRL/DistributedReplays">
                <i class="fab fa-github material-icons button-icon"></i>
                {#                GitHub#}
            </a>
            <a title="Discord" data-position="right" data-tooltip="Discord" class="waves-effect tooltipped" href="https://discord.gg/c8cArY9">
                <i class="fab fa-discord material-icons button-icon"></i>
                {#                Discord#}
            </a>
        </div>
    </div>
</div>
</body>
</html>
