<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>calculated</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono|Lilita+One|Shrikhand" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://icono-49d6.kxcdn.com/icono.min.css">
    <style>
        .mdl-button--colored {
            background: #72d9ff !important;
        }
    </style>
</head>
<body>
<div class="centerbox">
    <div class="logo">
        {#        calculated<span class="logo-small">.gg</span>#}
        <img height="75px" src="{{ url_for('static', filename='img/logos/calculated-logo.png') }}"/>
    </div>
    <div class="searchblock">
        <form action='{{ url_for('steam.resolve_steam') }}' enctype='multipart/form-data' method="post">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="sample1">
                <label class="mdl-textfield__label" for="sample1">SteamID or Username</label>
            </div>
        </form>
        {#        <div class="example"><a href="{{ url_for('players.view_player', id_='76561198055442516') }}">or view an#}
        {#            example</a></div>#}
    </div>
    <div class="hotlinks">
        <a href="{{ url_for('replays.replay_stats') }}">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">global stats</button>
        </a>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="submit">upload replays</button>
    </div>
    <div class="hotlinks">
        <span>{{ game_count }} replays and counting...</span>
    </div>
    <div class="hotlinks">
        {% if g.user %}
            <p>Logged in as <a href="{{ url_for('players.view_player', id_=g.user.platformid) }}"><img
                    src="{{ g.user.avatar }}" width="15px"> {{ g.user.platformname }}</a></p>
            <p><a href="{{ url_for('auth.logout') }}">Logout</a></p>
        {% else %}
            <a href="{{ url_for('auth.steam_auth') }}">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effec">Log in with Steam
                </button>
            </a>
        {% endif %}
    </div>
    <div class="hotlinks">
        <a href="#">
            <in>about</in>
        </a>
        <div class="dot">·</div>
        <a href="https://github.com/SaltieRL/DistributedReplays">
            <in>github</in>
        </a>
        <div class="dot">·</div>
        <a href="https://discord.gg/c8cArY9">
            <in>discord</in>
        </a>
    </div>
</div>
<dialog class="mdl-dialog modal">
    <div class="mdl-dialog__content">
        <form method='post' enctype='multipart/form-data' action='{{ url_for('replays.parse_replay') }}'>
            <div class="mdl-button">
                <input name="file" class="fileselect" type="file" data-multiple-caption="{count} files selected"
                       multiple>
                <label for="file"><span>Choose files</span></label>
            </div>
            <div class="mdl-dialog__actions">
                <button type="submit" class="mdl-button">Submit</button>
                <button type="button" class="mdl-button close">Close</button>
            </div>
        </form>
    </div>
</dialog>
<script>
    var button = document.getElementById('submit');
    console.log(button);
    var dialog = document.querySelector('dialog');
    button.addEventListener('click', function () {
        dialog.showModal();
        /* Or dialog.show(); to show the dialog without a backdrop. */
    });
    dialog.querySelector('.close').addEventListener('click', function () {
        dialog.close();
    });
    var inputs = document.querySelectorAll('.fileselect');
    Array.prototype.forEach.call(inputs, function (input) {
        var label = input.nextElementSibling,
            labelVal = label.innerHTML;
        input.addEventListener('change', function (e) {
            var fileName = '';
            if (this.files && this.files.length > 1)
                fileName = (this.getAttribute('data-multiple-caption') || '').replace('{count}', this.files.length);
            else
                fileName = e.target.value.split('\\').pop();
            console.log(label);
            if (fileName)
                label.querySelector('span').innerHTML = fileName;
            else
                label.innerHTML = labelVal;
        });
    });
</script>
</body>
</html>
