{% extends 'partials/base.html' %}

{% set player = profile['response']['players'][0] %}
{% block title %}Player Info{% endblock title %}
{% block imports %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='player.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fixed_header.css') }}">
    {% include "partials/imports/graph.html" %}
{% endblock imports %}
{% block body %}
    <div class="sidebar hide-on-med-and-down">
        {% include "partials/player/sidebar.html" %}
    </div>
    <div class="main">
        {% include "partials/player/content.html" %}
    </div>
{% endblock body %}
