{% extends 'partials/base.html' %}
{% from "macros/json.html" import jsonify %}


{#{% set frame_count = replay.api_game.frames %}#}
{% if replay != None %}
    {%- block description %}
        {{ replay.teamsize }}s: {{ replay.name }} - {{ replay.team0score }}:{{ replay.team1score }} on {{ replay.map }}
        at {{ replay.match_date }}
    {% endblock description %}
{% endif %}
{%- block title %}
    {%- if replay != None %}{{ replay.name }} - {{ replay.team0score }}:{{ replay.team1score }}{% else %}
        Loading...
    {% endif %}
{% endblock title %}
{% block imports %}
    {% include "partials/imports/viewer.html" %}
    {% include "partials/imports/graph.html" %}
    {% include "partials/imports/require.html" %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='replay.css') }}">
{% endblock imports %}
{% block body %}
    {% if replay == None %}
        <div style="flex: 1 0 auto">
            <h3>Thank you for your submission!</h3>
            <p>We are currently parsing your replay... please wait a minute.</p>
            <p class="download">In the meantime, you can <a
                    href="{{ url_for('replays.download_replay', id_=id + '.replay') }}">download</a> the
                <code>.replay</code> file</p>
            {# Include refresh script here #}
            <script>
                setTimeout(function () {
                    location.reload();
                }, 10000)
            </script>
        </div>
    {% elif replay != None %}
        <div style="width: 100%;">
            <div>
                {% include "partials/replay/metadata/header.html" %}
            </div>
            <div>
                {% include "partials/replay/tabs/main_tab_holder.html" %}
            </div>
        </div>
    {% endif %}
{% endblock body %}
