<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>😎 Saltie AutoReplays 😂</title>
    <style>*{cursor:wait;}body{max-width:650px;margin:40px auto;padding:0 10px;font:18px/1.5 -apple-system,BlinkMacSystemFont,"avenir next",avenir,"Segoe UI","lucida grande","helvetica neue",helvetica,"Fira Sans",roboto,noto,"Droid Sans",cantarell,oxygen,ubuntu,"franklin gothic medium","century gothic","Liberation Sans",sans-serif;color:#444;}h1,h2,h3{line-height:1.2}a{text-decoration: none;}button{background-color: #008CBA;border: none;color: white;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;}.testimonials{background-color: #eeeeee;}</style>
</head>
<body>
    <h1 style="text-align: center;">😎 Saltie AutoReplays 😂</h1>
    <div>
    <p>
        What's up you guys so here we have our AutoReplays software in case you wanna <i>dab</i>ble in
        saving replays automatically and helping us with training our bots so that we can eventually replace
        professional Rocket League pros with bots.
    </p>
    <p>
        Don't worry it's not a scam but you gotta download our free installer and give us some of your credit card info.
        We promise not sell your info or charge any money from your bank account*.
    </p>
    <p style="font-size: 11px;">
        *This is a lie and we <i>will</i> charge you.
    </p>
    <p>
        If you run into any problems make sure you hit us up at this Discord server:
        <a href="https://discord.gg/PQ2hRDS">https://discord.gg/PQ2hRDS</a>.<br>
        We won't ignore you lmao jk.
    </p>
    <button onclick="window.location.href='http://corn-hub.blogspot.com/'">Click for free install. No credit card required!</button>
    </div>
    <p style="font-size: 10px">
        [Please add image here.]
    </p>

    <div class="testimonials">
        <p>Don't believe that this is a world-class piece of software? Listen to some of our clients!</p>
        <ul>
            <li>twobackfromtheend - "Yeah"</li>
            <li>dtracers - "Sorry, can't respond atm. Too busy with anime villian duties."</li>
            <li>Sciguymjm - "What do you mean this is a pyramid scheme?"</li>
            <li>chip - "You destroyed my computer with this AutoReplays virus."</li>
            <li>GooseFairy - (Declined to comment.)</li>
            <li>axelalex2 - "Welcome @AutoReplays#1246!"</li>
            <li>hallo_doei - "cant text rn too busy with gui"</li>
            <li>alion02 - "I haven't tried this out yet."</li>
            <li>Redox - "lol"</li>
            <li>Skyborg - "Welcome @AutoReplays#1246!"</li>
            <li>Eastvillage - "I got scammed by AutoReplays. DO NOT BUY!"</li>
            <li>tarehart - "No I will not put this on rlbot.org. Stop asking me."</li>
            <li>ccman32 - "What the fuck is a saltie?"</li>
        </ul>
    </div>

    <hr>
    <p style="font-size: 12.5px;">Copyright your mum 👌</p>
</body>
</html>