{% extends 'partials/base.html' %}
{% block imports %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='upload.css') }}">
    <script>
        function isAdvancedUpload() {
            let div = document.createElement('div');
            return (('draggable' in div) || ('ondragstart' in div && 'ondrop' in div)) && 'FormData' in window && 'FileReader' in window;
        }
        document.addEventListener("DOMContentLoaded", function () {
            if (isAdvancedUpload()) {
                document.querySelectorAll('.drag-text').forEach((element) => {
                   element.classList.add('upload-dragndrop');
                });
                let fileInput = document.getElementById("file");
                let holder = document.getElementById("uploader");
                let fileList = document.getElementById("file-list");
                holder.addEventListener('dragover', (e) => {
                    e.preventDefault();
                    holder.classList.remove('error');
                    holder.classList.add('dragging');
                });
                holder.addEventListener('dragleave', (e) => {
                    holder.classList.remove('error');
                    holder.classList.remove('dragging');
                });
                holder.addEventListener('drop', (e) => {
                    holder.classList.remove('error');
                    holder.classList.remove('dragging');
                    e.preventDefault();
                    fileList.innerHTML = "";
                    let droppedFiles = e.dataTransfer.files;
                    for (let i = 0; i < droppedFiles.length; i++) {
                        let file = droppedFiles[i];
                        if (file.name.split('.').pop() !== 'replay') {
                            holder.classList.add('error');
                            return;
                        }
                        let fileElement = document.createElement('li');
                        fileElement.textContent = file.name;
                        fileList.appendChild(fileElement);
                    }
                    fileInput.files = droppedFiles;
                    console.log(droppedFiles);
                });
            }
        });
    </script>
{% endblock imports %}
{% block title %}
    Upload
{% endblock title %}
{% block body %}

<div class="main">
    <img class="foreground" src="{{ url_for('static', filename='img/background/flying-car.png') }}"/>
    <div class="padded">
        <div class="column">
            <h1>UPLOAD<br/>REPLAYS</h1>
        </div>
        <div class="column">
            <div class="import card z-depth-3">
                <div class="card-content">
                    <form id="uploader" class="box" method='post' enctype='multipart/form-data' action="{{ url_for('replays.parse_replay') }}">
                        <div class="draggable-input">
                            <ul id="file-list" class="file-list"></ul>
                            <input id="file" type='file' name='file' multiple>
                            <label for="file" class="upload-label">
                                <span class="drag-text has-advanced-upload">Drag and drop <b>.replay</b> here</span>
                                <span class="drag-text has-advanced-upload">or</span>
                                <strong>Click to browse files</strong>
                            </label>
                            <button class="btn upload-button" type="submit">Upload</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
