<div class="score-panel">
    <div class="team-title">
        <div class="spacer graph-name"><span>space</span></div>
        <div class="teams container">
            <div class="team-name">{{ team_names[0] }}</div>
            <span>VS</span>
            <div class="team-name">{{ team_names[1] }}</div>
        </div>
    </div>
    <div class="graph-labels-container">
        {% for player in team_members %}
        <div class="graph-label player-{{ player.player }}">
            <div class="label-color"> </div>
            {% set pid = player.player_object.platformid %}
            {% if pid|string|length == 17 %}
            <a class="name" href="{{ url_for('players.view_player', id_=pid) }}">{{ player.name }}</a>
            {% else %}
            <div class="name">{{ player.name }}</div>
            {% endif %}
            {% if player.online_id in ranks %}
            <img src="/static/img/ranks/{{ (ranks[player.online_id]['8']|sort(attribute='mode'))[-1]['tier'] }}.png"
                 height="30px"/>
            {% endif %}
            {% if player.is_bot %}
            <i class="bot">Bot</i>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="graph-list-container" style="position:relative;">
        {% for graph in graphs %}
        <div style="height={{ 90/graph_length }}%;" class="graph-name-container">
            <div class="graph-name">{{ graph }}</div>
            <div class="graph-holder {{ graph }}"></div>
        </div>
        {% endfor %}
    </div>
</div>
